{% use "form_div_layout.html.twig" %}

{% block form_row %}
{% spaceless %}
<tr>
      <td class="TabInfos">
            {{ form_label(form) }}
        </td>
        <td class="TabInfos">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock form_row %}

{% block hidden_row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden_row %}

{% block form_widget_compound %}
{% spaceless %}
    <table class="FormTablesorter ui-state-active ui-corner-all" {{ block('widget_container_attributes') }} >
      <thead><tr class="ui-state-default ui-corner-all"><th>Champs</th><th>Valeurs</th></tr></thead> 
        <tbody>
        {% if form.parent is empty and errors|length > 0 %}
        <tr>
            <td colspan="2">
                {{ form_errors(form) }}
            </td>
        </tr>
        {% endif %}
        
        {{ block('form_rows') }}
        {{ form_rest(form) }}
        </tbody>
        {#<tfoot><tr><th colspan="2">exemple de pied de tableau...</th></tr></tfoot>#}
    </table>
{% endspaceless %}
{% endblock form_widget_compound %}
{# => amu.js => initFormStyle()
<script type="text/javascript">
// FormTablesorter  =  amuForms table
$(".FormTablesorter").tablesorter({
    widgets: ['zebra'],
    headers: { 0: { sorter:false }, 1: { sorter: false }}
    });
    
</script>
#}