{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

    <h1>Bienvenue sur Groupie </h1>

    <br><br>

    {% if (is_granted("ROLE_ADMIN") or (is_granted("ROLE_GESTIONNAIRE") and is_granted("ROLE_DOSI"))) %}
        <div class="buttons-2">
            <a href="{{ path('memberships') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup.png')}}" alt=""/>
                &nbsp;Voir mes appartenances&nbsp;
            </a>
            <a href="{{ path('my_groups') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup-edit.png')}}" alt=""/>
                &nbsp;Gérer mes groupes&nbsp;
            </a>
            <a href="{{ path('all_groups') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup-search.png')}}" alt=""/>
                &nbsp;Voir tous les groupes&nbsp;
            </a>
        </div>
    {% elseif is_granted("ROLE_MEMBRE") and is_granted("ROLE_DOSI") %}
        <div class="buttons-2">
            <a href="{{ path('memberships') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup.png')}}" alt=""/>
                &nbsp;Voir mes appartenances&nbsp;
            </a>
            <a href="{{ path('all_groups') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup-search.png')}}" alt=""/>
                &nbsp;Voir tous les groupes&nbsp;
            </a>
        </div>
    {% elseif is_granted("ROLE_MEMBRE") and is_granted("ROLE_GESTIONNAIRE") %}
        <div class="buttons-2">
            <a href="{{ path('memberships') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup.png')}}" alt=""/>
                &nbsp;Voir mes appartenances&nbsp;
            </a>
            <a href="{{ path('my_groups') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup-edit.png')}}" alt=""/>
                &nbsp;Gérer mes groupes&nbsp;
            </a>
        </div>
    {% elseif is_granted("ROLE_MEMBRE") %}
        <div class="buttons-2">
            <a href="{{ path('memberships') }}">
                <img src="{{asset('bundles/amugroupie/images/usergroup.png.')}}" alt=""/>
                &nbsp;Voir mes appartenances&nbsp;
            </a>
        </div>
    {% endif %}

    <br><br><br><br><br><br><br><br>

{% endblock %}