{#% render "AppBundle:App:checkAuth" %#}
{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Bienvenue sur {{app_name}} {% endblock %}
{% block body %}
{#{ app.session.flashbag.set('page_flash',[{ message: "MESSAGE STATIQUE issue de 'index.html.twig'...", type : "info" , start:false, stop:false}]) }#}

{%if app.session.get("curYear","") == "" %}
  {{ app.session.set("curYear",app.session.get("univYear")) }}
{%endif%}

{%set feminin=((app.session.get("supannCivilite","")=="Mme")?1:0) %}
<p class="block block-views ">{{app_welcome|raw}}</p>

 <!--[if lte IE 8]> 
 <br>
 <div class="ui-state-error ui-corner-all" style="padding:15px;">
  <img src="{{ asset('bundles/app/images/ico/48/terre.png') }}" align="absmiddle" />&nbsp;
   Attention votre navigateur semble être obsolète et risque donc de poser des problèmes de compatibilité...</br>
   Pour plus de sécurité veuillez vous connecter avec Mozilia FireFox...</br>
   ou du moins avec une version d'Internet Explorer de 9.0 ou plus récente (version 11 conseillée)
 </div>
 <br>
 <![endif]-->
 
<center>
  <div class="ui-corner-all ui-state-active TabInfos" style="padding: 10px;color: gray; max-width: 70%;">
    </br><img src= "{{ asset('bundles/app/images/ico/32/'~((feminin==1)?"woman":"men")~'.png') }}" align="absmiddle" />&nbsp;{{ app.session.get('displayName') }} ({{app.session.get('amuMail')}})</br>
    {% if (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_expr_granted("hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')")  %}

      </br><img src= "{{ asset('bundles/app/images/ico/32/admin.png') }}" align="absmiddle" />&nbsp;Vous êtes administrateur de l'application.

    {% elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_GESTIONNAIRE")  %}

      </br><img src= "{{ asset('bundles/app/images/ico/32/manager.png') }}" align="absmiddle" />&nbsp;Vous êtes gestionnaire de l'application.

    {% elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_DOSI")  %}

      </br><img src= "{{ asset('bundles/app/images/ico/32/users.png') }}" align="absmiddle" /><img src= "{{ asset('bundles/app/images/ico/32/view-page.png') }}" align="absmiddle" />&nbsp;Vous avez les droits de visualisation sur l'application.
      
    {% elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_MEMBRE")  %}

      </br><img src= "{{ asset('bundles/app/images/ico/32/users.png') }}" align="absmiddle" /><img src= "{{ asset('bundles/app/images/ico/32/view-page.png') }}" align="absmiddle" />&nbsp;Vous êtes membre d'un groupe.  

      {% endif %}
  </div>
</center>
<br>
<br>
<br>

{% if (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_expr_granted("hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')")  %}
    
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:30%" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup.png')}}" />&nbsp;Voir mes appartenances &nbsp;</button>        
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:46%" onclick="loadPage('{{ path('mes_groupes') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup-edit.png')}}" />&nbsp;Voir mes groupes &nbsp;</button>        
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:61%" onclick="loadPage('{{ path('tous_les_groupes') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup-search.png')}}" />&nbsp;Voir tous les groupes &nbsp;</button>        
    
{% elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_GESTIONNAIRE")  %}

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:36%" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup.png')}}" />&nbsp;Voir mes appartenances &nbsp;</button>        
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:55%" onclick="loadPage('{{ path('mes_groupes') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup-edit.png')}}" />&nbsp;Voir mes groupes &nbsp;</button>        
    
{% elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_DOSI")  %}

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:36%" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup.png')}}" />&nbsp;Voir mes appartenances &nbsp;</button>        
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:55%" onclick="loadPage('{{ path('tous_les_groupes') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup-search.png')}}" />&nbsp;Voir tous les groupes &nbsp;</button>              
    
{% elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_MEMBRE")  %}
    
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; position:absolute; left:45%" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/usergroup.png')}}" />&nbsp;Voir mes appartenances &nbsp;</button>        

{% endif %}

{% endblock %}