{#% render "AppBundle:App:checkAuth" %#}
{% extends 'AppBundle::layout.html.twig' %}

{% block titre %}Bienvenue sur {{app_name}} {% endblock %}
{% block body %}
{#{ app.session.flashbag.set('page_flash',[{ message: "MESSAGE STATIQUE issue de 'index.html.twig'...", type : "info" , start:false, stop:false}]) }#}

{%set feminin=((app.session.get("supannCivilite","")=="Mme")?1:0) %}

<p class="block block-views ">{{app_welcome}}</p>
<center>
  <div class="ui-corner-all ui-state-active TabInfos" style="padding: 10px;color: gray; max-width: 70%;">
    </br><img src= "{{ asset('bundles/app/images/ico/32/'~((feminin==1)?"woman":"men")~'.png') }}" align="absmiddle" />&nbsp;{{ app.session.get('displayName') }} ({{app.session.get('amuMail')}})</br>
    {%if (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_expr_granted("hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN')")  %}
      </br><img src= "{{ asset('bundles/app/images/ico/32/admin.png') }}" align="absmiddle" />&nbsp;Vous &ecirc;tes Administrateur de l'applications...
    {%elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_MANAGER")  %}
      </br><img src= "{{ asset('bundles/app/images/ico/32/manager.png') }}" align="absmiddle" />&nbsp;Vous &ecirc;tes un "Manager" de l'applications...
    {%elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_VIEWER")  %}
      </br><img src= "{{ asset('bundles/app/images/ico/32/users.png') }}" align="absmiddle" /><img src= "{{ asset('bundles/app/images/ico/32/view-page.png') }}" align="absmiddle" />&nbsp;Vous avez le droit de "Visualiser" certaines informations de l'applications...
      {%if  is_granted("ROLE_MODIFIER") %}
        </br><img src= "{{ asset('bundles/app/images/ico/32/users.png') }}" align="absmiddle" /><img src= "{{ asset('bundles/app/images/ico/32/modif.png') }}" align="absmiddle" />&nbsp;Vous avez aussi le droit de "Modifier" certaines informations de l'applications...
      {%endif%}
    {%elseif (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_granted("ROLE_MODIFIER")  %}
      </br><img src= "{{ asset('bundles/app/images/ico/32/user.png') }}" align="absmiddle" /><img src= "{{ asset('bundles/app/images/ico/32/modif.png') }}" align="absmiddle" />&nbsp;Vous avez le droit de "Modifier" certaines informations de l'applications...
    {%endif%}
  </div>
</center>
<br>

{%if (app.security.token.authenticated==true) and is_granted("ROLE_AUTHENTIFIED") and  is_expr_granted("hasAnyRole('ROLE_ADMIN','ROLE_SUPER_ADMIN','ROLE_MANAGER')")  %}
  <span class="ui-state-default ui-corner-all" ><small><a class="ui-button jqtip" onclick="this.blur();"  target="_blank" href="adresse_de_mon_wiki_d'aide" style="padding:2px;"  title="<small>Cliquez ici pour afficher l'aide au param&egrave;trage de l'application...</small>" ><img src="{{ asset('bundles/app/images/ico/32/help-book.png') }}" align="absmiddle" />&nbsp;Afficher la documentation des Gestionnaires de l'application...</a></small></span>
{%endif%}
<br><span class="ui-state-default ui-corner-all" ><small><a class="ui-button jqtip" onclick="this.blur();"  target="_blank" href="../help/Manuel_d_aide.pdf" style="padding:2px;"  title="<small>Cliquez ici pour afficher l'aide de l'application...</small>" ><img src="{{ asset('bundles/app/images/ico/32/pdf.png') }}" align="absmiddle" />&nbsp;Manuel d'aide...</a></small></span>
<br><span class="ui-state-default ui-corner-all" ><small><a class="ui-button jqtip" onclick="this.blur();"  target="_blank" href="../help/Aide.html" style="padding:2px;"  title="<small>Cliquez ici pour afficher l'aide de l'application...</small>" ><img src="{{ asset('bundles/app/images/ico/32/help-book.png') }}" align="absmiddle" />&nbsp;Aide en ligne...</a></small></span>

{% endblock %}