{% use "form_div_layout.html.twig" %}

{% block form_row %}
{% spaceless %}
<tr>
      <td>
        <div style="padding:10px;">
          <div class="amuFormsLabel TabInfos"  >{{ form_label(form) }}</div>
          <span class="ui-helper-clearfix ui-helper-reset TabInfos amuFormsData">
              {{ form_errors(form) }}
              {{ form_widget(form) }}
          </span>
        </div>
          </td>
    </tr>
{% endspaceless %}
{% endblock form_row %}

{% block hidden_row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden_row %}


{% block form_widget_compound %}
{% spaceless %}
    {%set legendeCouleurs="Légende des couleurs|<small><font color=blue><b>éléments optionnels...</b></font></br><font color=red><b>éléments obligatoires...</b></font></small>" %}  
    <center>
      <table class="zebra ui-state-default ui-corner-all" style="width:100%;"  {{ block('widget_container_attributes') }} >
        <thead><tr class="ui-widget-header ui-corner-all" ><th style="height:25px;text-align:left;" colspan="2" class="ui-button cluetip" title="{{legendeCouleurs}}"><small>&nbsp;<img src="{{ asset("bundles/app/images/ico/16/help-mouse.png")}}" align="absmiddle" />&nbsp;<b>L&eacute;gende...</b></small></th></tr></thead> 
        <tbody>
        {% if form.parent is empty and errors|length > 0 %}
        <tr><td colspan="2" >{{ form_errors(form) }}</td></tr>
        {% endif %}
        
        {{ block('form_rows') }}
        {{ form_rest(form) }}
        </tbody>
        {#<tfoot><tr><th colspan="2">exemple de pied de tableau...</th></tr></tfoot>#}
    </table>
    </center>
{% endspaceless %}
{% endblock form_widget_compound %}
