{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Recherche de groupe{% endblock %}

{% block body %}

{% if del %}
    <form action="{{ path('suppression_groupe')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit"  value="Rechercher" />
    </form>
{% else %}
    <form action="{{ path('recherche_groupe')}}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit"  value="Rechercher" />
    </form>
{% endif %}
    
{% endblock %}