{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Modification des membres d'un groupe{% endblock %}

{% block body %}
    
    {% set hilightColor='#C7FE74' %}

    {% if app.session.has('_saved') and app.session.get('_saved', 0) == 1 %}
        <div style="display: none;"> {{ app.session.remove('_saved') }} </div>

        {% if app.session.flashbag.has('flash-notice') %}
            <center>
            <div class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
                {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
            </center>
        {% endif %}

        <br>
        <h3>Nombre de membres du groupe {{ group.cn }} : {{ nb_membres }}</h3>
        <br>
        <table class="ui-widget-content dataTable TabInfos" filter="25">
            <thead>
                <tr>
                    <th>uid</th>
                    <th>DisplayName</th>
                    <th>Mail</th>
                    <th>Tel</th>
                    <th>Membre</th>
                    <th>Administrateur</th>
                </tr>
            </thead>
            <tbody>
                {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                {% for m in group.members  %}
                    <tr> 
                        <td style="vertical-align: middle;"> {{ m.uid }}  </td>
                        <td style="vertical-align: middle;"> {{ m.displayname }}  </td>
                        <td style="vertical-align: middle;"> <a href="mailto:{{m.mail}}"> {{ m.mail }}  </td>
                        <td style="vertical-align: middle;"> {{ m.tel }}  </td>
                        <td style="vertical-align: middle;"> <input type = 'checkbox' disabled="disabled" {% if m.member == 1 %} checked='checked' {% endif %} /> </td>
                        <td style="vertical-align: middle;"> <input type = 'checkbox' disabled="disabled" {% if m.admin ==1 %} checked='checked' {% endif %} /> </td>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <br>
        <h3>Nombre de membres du groupe {{ group.cn }} : {{ nb_membres }}</h3>
        <br>
        <form class="amuForms" id="_ajxFromModifier">
            <table class="ui-widget-content dataTable TabInfos" filter="25">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>DisplayName</th>
                        <th>Mail</th>
                        <th>Tel</th>
                        <th>Membre</th>
                        <th>Administrateur</th>
                    </tr>
                </thead>
                <tbody>
                    {# itère sur chaque member existant et affiche les champs  #}
                    {% for m in form.members  %}
                        <tr> 
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].uid }} </td>
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].displayname }} </td>
                            <td style="vertical-align: middle;"> <a href="mailto:{{group.members[loop.index0].mail}}"> {{ group.members[loop.index0].mail }} </td>
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].tel }} </td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.member) }} </td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.admin) }} </td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p>
                <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
                onclick="loadPage('{{ path('group_update', { 'cn': group.cn }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/save-2.png')}}" />&nbsp;Enregistrer les modifications&nbsp;</button>
                <span class="record_actions"></span>
                <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/cancel.png')}}" />&nbsp;Annuler&nbsp;</button>
            </p>

            {{ form_rest(form) }}
        </form>

        {# ... #}

    {% endif %}

{% endblock %}


