{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Modification de groupe{% endblock %}

{% block body %}


<form class="amuForms" id="_ajxFromModifier">
    {{ form_widget(form) }}
    <br>
    <p>
     {% if group.amugroupfilter == "" %}   
        <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('group_modify', { 'cn': group.cn, 'desc': group.description, 'filt': "no" }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/save.png')}}" />&nbsp;Enregistrer les modifications&nbsp;</button>
     {% else %}   
         <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('group_modify', { 'cn': group.cn, 'desc': group.description, 'filt': group.amugroupfilter }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/save.png')}}" />&nbsp;Enregistrer les modifications&nbsp;</button>
     {% endif %}
     <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/cancel.png')}}" />&nbsp;Annuler&nbsp;</button>
     <span class="record_actions"></span>
    </p>
</form>
    
{% endblock %}