{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Recherche de groupe{% endblock %}

{% block body %}


<form class="amuForms" id="_ajxFromModifier">
    {{ form_widget(form) }}
    <br>
    <p>
     <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('group_search', { 'opt': opt, 'uid' : uid }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/search-3.png')}}" />&nbsp;Rechercher&nbsp;</button>
     <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('mes_appartenances') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/cancel.png')}}" />&nbsp;Annuler&nbsp;</button>
     <span class="record_actions"></span>
    </p>
</form>

{% endblock %}