{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Liste des groupes{% endblock %}

{% block body %}

<table class="ui-widget-content dataTable TabInfos" filter="25">
    <thead>
        <tr>
            <th>cn</th>
	    <th>Description</th>
            <th>amuGroupFilter</th>
            {% if opt=='search' %}
                <th>Voir</th>
                <th>Modifier</th>
                <th>Ajouter</th>
            {% endif %}
            {% if opt=='del' %}
                <th>Supprimer</th>
            {% endif %}
            {% if opt=='mod' %}
                <th>Modifier</th>
            {% endif %}
            {% if opt=='add' %}
                <th>Ajouter</th>
            {% endif %}
            
        </tr>
    </thead>
    <tbody> 
    {% for group in groups %}
	<tr > 
	  <td style="vertical-align: middle;">{{group.cn}}</td>
          <td style="vertical-align: middle;">{{group.description}}</td>
          <td style="vertical-align: middle;">{{group.amugroupfilter}}</td>
          {% if opt=='search' %}
              {% if group.droits=='Aucun' %}
                  <td style="vertical-align: middle;">
                    <img align="absmiddle" src="{{ asset("bundles/app/images/ico/16/view-page.png") }}" title="Voir les membres" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" />
                  </td>
                  <td style="vertical-align: middle;">
                    <img src="{{ asset("bundles/app/images/ico/16/modif.png") }}" title="Modifier les membres" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" />
                  </td>
                  <td style="vertical-align: middle;">
                    <img align="absmiddle" src="{{ asset("bundles/app/images/ico/16/add-1.png") }}" title="Ajouter un membre" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" />
                  </td>
              {% endif %}
              {% if group.droits=='Voir' %}
                  <td style="vertical-align: middle;">
                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/view-page.png") }}" title="Voir les membres" class="ui-button" onclick='loadPage("{{ path('voir_groupe', { 'cn': group.cn, 'mail': 'true', 'liste': 'recherchegroupe' }) }}");' />
                  </td>
                  <td style="vertical-align: middle;">
                    <img align="absmiddle" src="{{ asset("bundles/app/images/ico/16/modif.png") }}" title="Modifier les membres" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" />
                  </td>
                  <td style="vertical-align: middle;">
                    <img align="absmiddle" src="{{ asset("bundles/app/images/ico/16/add-1.png") }}" title="Ajouter un membre" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);" />
                  </td>
               {% endif %}
               {% if group.droits=='Modifier' %}
                  <td style="vertical-align: middle;">
                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/view-page.png") }}"  title="Voir les membres"  class="ui-button" onclick='loadPage("{{ path('voir_groupe', { 'cn': group.cn, 'mail': 'true', 'liste': 'recherchegroupe' }) }}");' />
                  </td>
                  <td style="vertical-align: middle;">
                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/modif.png") }}" title="Modifier les membres" class="ui-button" onclick='loadPage("{{ path('group_update', { 'cn': group.cn, 'liste': 'recherchegroupe' }) }}");' />
                  </td>
                  <td style="vertical-align: middle;">
                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/add-1.png") }}" title="Ajouter un membre" class="ui-button" onclick='loadPage("{{ path('user_search', { 'opt': 'add', 'cn': group.cn, 'liste': 'recherchegroupe' }) }}");' />
                  </td>
               {% endif %}
          {% endif %}
          {% if opt=='del' %}
              <td style="vertical-align: middle;">
                  <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/delete-1.png") }}" title="Supprimer un groupe" class="ui-button" onclick='loadPage("{{ path('group_delete', { 'cn': group.cn }) }}");' />
              </td>
          {% endif %}
          {% if opt=='mod' %}
              {% if group.amugroupfilter == "" %}   
                  <td style="vertical-align: middle;">
                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/modif.png") }}" title="Modifier un groupe" class="ui-button" onclick='loadPage("{{ path('group_modify', { 'cn': group.cn, 'desc': group.description, 'filt': 'no' }) }}");' />
                  </td>
              {% else %}
                <td style="vertical-align: middle;">
                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/app/images/ico/16/modif.png") }}" title="Modifier un groupe" class="ui-button" onclick='loadPage("{{ path('group_modify', { 'cn': group.cn, 'desc': group.description, 'filt': group.amugroupfilter }) }}");' />
                </td>
              {% endif %}
          {% endif %}
          {% if opt=='add' %}
              <td style="vertical-align: middle;">
                 {#   <td style="vertical-align: middle;"> {{ form_widget(m.memberof) }} </td> #}
                  <img class="jqtip ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/user-add.png') }}" title="Ajouter des droits" class="ui-button" onclick='loadPage("{{ path('user_add', { 'uid': uid, 'cn': group.cn }) }}");' /> 
              </td>
          {% endif %}
          
        </tr>
   {% endfor %}
    </tbody>
            
</table>

{% endblock %}
