{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Liste des membres du groupe {{ cn }} {% endblock %}

{% block body %}
    
    Nombre de membres du groupe : {{ nb_membres }} 

<table class="ui-widget-content dataTable TabInfos" filter="25">
    <thead>
        <tr>
            <th>uid</th>
	    <th>Nom</th>
            <th>Mail</th>
	    <th>Téléphone</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
	<tr > 
	  <td style="vertical-align: middle;">{{user.uid }}</td>
          <td style="vertical-align: middle;">{{user.displayname }}</td>
          <td style="vertical-align: middle;">{{user.mail }}</td>
          <td style="vertical-align: middle;">{{user.tel }}</td>
        </tr>
   {% endfor %}
    </tbody>
      
       
</table>
{% endblock %}