{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Liste des membres du groupe <span style="font-variant-caps: small-caps;">{{ cn }}</span> {% endblock %}

{% block body %}

  {% if amugroupfilter != '' %}
      
      <h3>  amuGroupfilter  :  </h3>
      <center> <h4> {{ amugroupfilter }} </h4> </center>
      
    <br>
    <br>
 {% endif %}
     
 {% if nb_admins == 0 %}
     <h3>   Le groupe n'a pas d'administrateur. </h3>
    <br>
 {% else %}
    
    <h3>   Nombre d'administrateurs du groupe : {{ nb_admins }} </h3>
    <br>

<table class="ui-widget-content dataTable TabInfos" filter="25">
    <thead>
        <tr>
            <th>uid</th>
	    <th>Nom</th>
            <th>Mail</th>
	    <th>Téléphone</th>
        </tr>
    </thead>
    <tbody>
        {% for admin in admins %}
            <tr> 
                <td style="vertical-align: middle;">{{admin.uid }}</td>
                <td style="vertical-align: middle;">{{admin.displayname }}</td> 
                <td style="vertical-align: middle;"><a href="mailto:{{admin.mail}}">{{admin.mail }}</td>
                <td style="vertical-align: middle;">{{admin.tel }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<br>    
{% endif %}      

{% if nb_membres == 0 %}       
    <h3>   Le groupe n'a pas de membre. </h3>
    <br>
{% else %}       
    <h3>   Nombre de membres du groupe : {{ nb_membres }} </h3>
    <br>

    <table class="ui-widget-content dataTable TabInfos" filter="25">
        <thead>
            <tr>
                <th>uid</th>
                <th>Nom</th>
                <th>Mail</th>
                <th>Téléphone</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr > 
                <td style="vertical-align: middle;">{{user.uid }}</td>
                <td style="vertical-align: middle;">{{user.displayname }}</td>
                <td style="vertical-align: middle;"><a href="mailto:{{user.mail}}">{{user.mail }}</td>
                <td style="vertical-align: middle;">{{user.tel }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}   

<br>

{% if liste == 'touslesgroupes' %}

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('tous_les_groupes') }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la liste&nbsp;
    </button>
    
{% endif %}
{% if liste == 'mesgroupes' %}

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('mes_groupes') }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la liste&nbsp;
    </button>
    
{% endif %}
{% if liste == 'mesappartenances' %}

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('mes_appartenances') }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la liste&nbsp;
    </button>
    
{% endif %}
{% if liste == 'recherchegroupe' %}

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{path('group_display') }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la liste&nbsp;
    </button>
    
{% endif %}


{% endblock %}