{{"{% extends (app.session.has('_fromCRUD')?'AppBundle::layout.html.twig':'AppBundle::page.html.twig') %}"}}
{{ '{% block title %}' -}}
{{ bundle }}:{{ controller }}:{{ action.basename }}
{{- '{% endblock %}' }}

{{ '{% block body %}' }}
{{"
{%if app.session.has('_fromCRUD') %}
  {{ app.session.remove('_fromCRUD') }}
{%endif%}
"}}
{{ '
{%set legendeCouleurs="<small><font color=blue>&Eacute;l&eacute;ments en bleu</font> =  &eacute;l&eacute;ments optionnels</br><font color=red>&Eacute;l&eacute;ments en rouge</font> =  &eacute;l&eacute;ments obligatoires</small>" %}
<p><small><a class="ui-button jqtip" title="{{legendeCouleurs}}"><img src="{{ asset("bundles/app/images/ico/16/help-book.png")}}" align="absmiddle" />&nbsp;<b>L&eacute;gende...</b></a></small></p>
'}}


<h1>Bienvenue sur la page de {{ controller }}:{{ action.basename }}</h1>

<div class="ui-widget-content ui-corner-all" style="padding: 15px;">
  <table>
    <tbody>
      <tr><td><p><small><a class="ui-button jqtip" title="{{legendeCouleurs}}"><img src="{{ asset("bundles/app/images/ico/16/help-mouse.png")}}" align="absmiddle" />&nbsp;<b>L&eacute;gende...</b></a></small></p></td></tr>
      <tr><td colspan="2"><span class="TabInfosGray">Filtre d'affichage sur les {{ controller }}</span></td></tr>
      {{ '{#' }}
      <tr><th class="TabInfosB">Ann&eacute;e</th><td><select id="selYear" name="selYear" onchange="loadPage('{{ path('refs_students') }}',{'selYear':this.value,'selPromo':$('#selPromo').val()});" >
          <option {{ ((selYear is defined) and selYear=="all")?'selected':'' }} value="all">Toutes</option>
          {% if ((arYears is defined) and (arYears is iterable)) %}
            {% for oneYear in arYears %}
              <option {{ ((selYear is defined) and selYear==oneYear)?'selected':''  }} value="{{oneYear}}">{{oneYear}}</option>
            {% endfor %}
          {% endif %}  
        </select></td>
     </tr>
      <tr><th class="TabInfosB">Promotion</th><td><select id="selPromo" name="selPromo" onchange="loadPage('{{ path('refs_students') }}',{'selPromo':this.value,'selYear':$('#selYear').val()});" >
          {% if ((arPromos is defined) and (arPromos is iterable)) %}
            {% for key, onePromo in arPromos %}
              <option {{ ((selPromo is defined) and selPromo==key)?'selected':''  }} {{ (app.session.get('curPromo')==key)?'selected':''  }} value="{{key}}">{{onePromo}}</option>
            {% endfor %}
          {% endif %}  
              </select></td>
      </tr>
     {{ '#}' }} 
    </tbody>
  </table>
</div>
<br>

<script language="JavaScript" type="text/javascript">
$(function() {
  // rajouter ici vos lignes d'initialisation...
  
});
</script>
{{ '{% endblock %}' }}
