{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/initdatatable.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initdatatable('#groups');
        } );
    </script>

    <h1>Liste de tous les groupes privés</h1>

    <div class="buttons">
        <a href="{{  path('user_search', { 'opt': 'searchprivate' }) }}">
            <img src="{{asset('bundles/amugroupie/images/user-search.png')}}" alt=""/>
            &nbsp;Voir les groupes privés d'un utilisateur&nbsp;
        </a>
    </div>
    <br>
    <br>
    <br>
    <table id="groups" class="display">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Voir</th>
            </tr>
        </thead>
        <tbody> 
        {% for group in groups %}
            <tr > 
                <td style="vertical-align: middle;">{{group.cn}}</td>
                <td style="vertical-align: middle;">{{group.description}}</td>
                <td style="vertical-align: middle;">
                    <a href="{{path('see_private_group', { 'cn': group.cn, 'opt': 'tous' })}}">
                        <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/view-page.png") }}" title="Voir les membres de {{ group.cn }} "/>
                    </a>
                </td>
            </tr> 
        {% endfor %}
        </tbody>    
    </table>
    <br>
    

{% endblock %}
