{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}

    <h1>Liste de tous les groupes privés</h1>

    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:10px; " onclick="loadPage('{{ path('user_search', { 'opt': 'searchprivate' }) }}');" ><img align="absmiddle" src="{{asset('bundles/amugroupie/images/user-search.png')}}" />&nbsp;Voir les groupes privés d'un utilisateur &nbsp;</button>
    
    <br>
    <br>
    
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Voir</th>
            </tr>
        </thead>
        <tbody> 
        {% for group in groups %}
            <tr > 
                <td style="vertical-align: middle;">{{group.cn}}</td>
                <td style="vertical-align: middle;">{{group.description}}</td>
                <td style="vertical-align: middle;">
                    <img align="absmiddle" src="{{ asset("bundles/amugroupie/images/view-page.png") }}" title="Gérer le groupe" class="ui-button" onclick="loadPage('{{ path('see_private_group', { 'cn': group.cn, 'opt': 'tous' }) }}');" />
                </td>
            </tr> 
        {% endfor %}
        </tbody>    
    </table>
    <br>
    

{% endblock %}
