{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}

    <link rel="Stylesheet" href="{{ asset('bundles/amugroupie/css/jquery-ui.min.css') }}" /> <!-- jquery_ui_theme -->
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jquery-ui.min.js') }}"></script>

    {# Ajout d'une fonction javascript pour effacer automatiquement les messages flash après 5s #}
    <script type="text/javascript">
        setTimeout(function(){
            $('#flash').remove();
        },5000);
    </script>

    <div style="padding: 15px">

        <h1> Création de groupe privé </h1>
        {% if app.session.flashbag.has('flash-notice') %}
        <center>
            <div id="flash" class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
            {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                <p>{{ flashMessage }}</p>
            {% endfor %}
            </div>
        </center>
        {% endif %}
        {% if app.session.flashbag.has('flash-error') %}
        <center>
            <div class="ui-state-error ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;margin:auto;">
            {% for flashMessage in app.session.flashbag.get('flash-error') %}
                <p>{{ flashMessage }}</p>
            {% endfor %}
            </div>
        </center>
        {% endif %}
        <br>

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.cn) }}
            {{ form_errors(form.cn) }}
            {{ form_widget(form.cn) }}
        </div>
        <br>
        <div>
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        <br>
        <p>
            <div class="buttons">
                <button type="submit" name="btCreer"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/add-2.png') }}" />&nbsp;Créer&nbsp;</button>
                <a href="{{ path('homepage') }}">
                    <img src="{{asset('bundles/amugroupie/images/cancel-16.png')}}" alt=""/>
                    &nbsp;Annuler&nbsp;
                </a>
            </div>
        </p>
        {{ form_end(form) }}
        <br>
        <br>
    </div>
    
{% endblock %}