{% extends 'base.html.twig' %}

{% block app_menu %}
{{ knp_menu_render('AppBundle:Builder:mainMenu') }}
   <div class="clear"><hr /></div>
{% endblock %}


{% block body %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/jolitree-group.css') }}" type="text/css"/> 
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jolitree.js') }}"></script>
    <script type="text/javascript">
        function init() {var tree = new JoliTree(document.getElementById("myTree"));}window.onload = init;
    </script>

    <div id="listeGroupes">
    
        <h1> Mes appartenances </h1>

        <table>
            <tbody>
                <tr>
                    <td class="titre1"> Nom </td>
                    <td class="titre6"> Description </td>
                    <td class="titre7"> Voir groupe </td>
                </tr>
            </tbody>
        </table>

        <div id="wrapper">
            <dl id="myTree" class="jolitree">
                {% for group in groups %}
                    {% if group.lastopen != 0 %}
                        {% if group.lastopen <= (group.lastnbetages-2) %}
                            {% for i in group.lastopen .. (group.lastnbetages-2) %}
                                </dl>
                                </dd>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {% if group.lastopen <= (group.nbetages-2) %}
                        {% for i in group.lastopen .. (group.nbetages-2) %}
                            {% if i<3 %}
                                <dd class="opened">
                            {% else %}
                                <dd class="last">
                            {% endif %}
                            <p> {{ group.etages[i] }} </p>
                            <dl>
                        {% endfor %}
                    {% endif %}
                    <dt>
                        <div id="cl1"> <a href="{{path('see_group', { 'cn': group.cn, 'mail': 'false', 'liste': 'mesappartenances'})}}" title="Voir les membres de {{ group.cn }} ">{{ group.etages[group.nbetages-1] }}</a> </div>
                        <div id="cl2"> {{ group.description }} </div>
                        <div id="cl3">
                            <a href="{{path('see_group', { 'cn': group.cn, 'mail': 'false', 'liste': 'mesappartenances'})}}">
                                <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/view-page.png") }}" title="Voir les membres de {{ group.cn }} "/>
                            </a>
                        </div>
                    </dt>
                {% endfor %}
            </dl>
        </div>
    </div>
            
{% endblock %}    