{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" />
<link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
<link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('#memb').DataTable();
    } );
</script>
<h1>Modification des membres du groupe <span style="font-variant-caps: small-caps;"> {{ group.cn }} </span></h1>
{% set hilightColor='#C7FE74' %}

    {% if app.session.has('_saved') and app.session.get('_saved', 0) == 1 %}
        <div style="display: none;"> {{ app.session.remove('_saved') }} </div>

        {% if app.session.flashbag.has('flash-notice') %}
            <center>
            <div class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
                {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div>
            </center>
        {% endif %} 

        <br>
        <h3>Nombre de membres du groupe <b>{{ group.cn }}</b> : {{ nb_membres }}</h3>
        <br>
        <div class="buttons">
            <a href="{{ path('user_search', { 'opt': 'addprivate', 'cn' : group.cn }) }}">
                <img src="{{asset('bundles/amugroupie/images/add-1.png')}}" alt=""/>
                &nbsp;Ajouter un membre&nbsp;
            </a>
        </div>
        <br>
        <br>
        <br> 
        {% if nb_membres > 0 %}
            {{ form_start(form) }}
            <table id="memb" class="display">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>DisplayName</th> 
                        <th>Mail</th>
                        <th>Tel</th>
                        <th>Membre</th>
                    </tr>
                </thead>
                <tbody> 
                    {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                    {% for m in form.members  %}
                        <tr> 
                            {#<td style="vertical-align: middle;"> {{ m.uid }}  </td>
                            <td style="vertical-align: middle;"> {{ m.displayname }}  </td>
                            <td style="vertical-align: middle;"> <a href="mailto:{{m.mail}}"> {{ m.mail }}  </td>
                            <td style="vertical-align: middle;"> {{ m.tel }}  </td>
                            <td style="vertical-align: middle;"> <input type = 'checkbox' disabled="disabled" {% if m.member == 1 %} checked='checked' {% endif %} /> </td> #}
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].uid }} </td>
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].displayname }} </td>
                            <td style="vertical-align: middle;"> <a href="mailto:{{group.members[loop.index0].mail}}"> {{ group.members[loop.index0].mail }} </td>
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].tel }} </td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.member) }} </td>
                    </tr>  
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="buttons">
                <button type="submit" name="btValider"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/valid.png') }}" />&nbsp;Valider les changements de droits&nbsp;</button>
                <a href="{{ path('homepage') }}" >
                    <img src="{{asset('bundles/amugroupie/images/cancel.png')}}" alt=""/>
                    &nbsp;Annuler&nbsp;
                </a>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
       {% endif %} 
        <br>
        <br>
        <br>
        <div class="buttons">
            <a href="{{ path('private_group') }}" >
                <img src="{{asset('bundles/amugroupie/images/prev-green.png')}}" alt=""/>
                &nbsp;Retour à la liste des groupes privés&nbsp;
            </a>
        </div>

    {% else %}
               
        <br>
        <h3>Nombre de membres du groupe <b>{{ group.cn }}</b> : {{ nb_membres }}</h3>
        <br>
        <div class="buttons">
            <a href="{{ path('user_search', { 'opt': 'addprivate', 'cn' : group.cn }) }}">
                <img src="{{asset('bundles/amugroupie/images/add-1.png')}}" alt=""/>
                &nbsp;Ajouter un membre&nbsp;
            </a>
        </div>
        <br>
        <br>
        <br>
        {% if nb_membres > 0 %}
            {{ form_start(form) }}
            <table id="memb" class="display">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>DisplayName</th>
                        <th>Mail</th>
                        <th>Tel</th>
                        <th>Membre</th>
                    </tr>
                </thead>
                <tbody>
                    {# itère sur chaque member existant et affiche les champs  #}
                    {% for m in form.members  %}
                        <tr> 
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].uid }} </td>
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].displayname }} </td>
                            <td style="vertical-align: middle;"> <a href="mailto:{{group.members[loop.index0].mail}}"> {{ group.members[loop.index0].mail }} </td>
                            <td style="vertical-align: middle;"> {{ group.members[loop.index0].tel }} </td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.member) }} </td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <div class="buttons">
                <button type="submit" name="btValider"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/valid.png') }}" />&nbsp;Valider les changements de droits&nbsp;</button>
                <a href="{{ path('homepage') }}" >
                        <img src="{{asset('bundles/amugroupie/images/cancel.png')}}" alt=""/>&nbsp;Annuler&nbsp;
                </a>
            </div>

            {{ form_rest(form) }}
            {{ form_end(form) }}
                
        {% endif %}
        
        <br>
        <br>
        <br>
        <div class="buttons">
            <a href="{{ path('private_group') }}" >
                <img src="{{asset('bundles/amugroupie/images/prev-green.png')}}" alt=""/>
                &nbsp;Retour à la liste des groupes privés&nbsp;
            </a>
        </div>

    {% endif %}

    <br>

{% endblock %}


