{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/initdatatable.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initdatatable('#groups');
        } );
    </script>

<h1>Le groupe a été créé</h1>

{% if app.session.flashbag.has('flash-notice') %}
  <center>
  <div class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
    {% for flashMessage in app.session.flashbag.get('flash-notice') %}
        <p>{{ flashMessage }}</p>
    {% endfor %}
  </div>
  </center>
{% endif %}

    <table id="groups" class="display">
    <thead>
        <tr>
            <th>Nom</th>
	        <th>Description</th>
	        <th>Ajouter des droits</th>
        </tr>
    </thead>
    <tbody>
    {% for group in groups %}
	<tr > 
	  <td style="vertical-align: middle;">{{group.cn }}</td>
          <td style="vertical-align: middle;">{{group.description }}</td>
          <td style="vertical-align: middle;">
              <a href="{{path('user_search', { 'opt': 'addprivate', 'cn': group.cn })}}">
                  <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/add-1.png") }}" title="Ajouter un membre"/>
              </a>
          </td>
        </tr>
   {% endfor %}
   
    </tbody>
             
</table>
<br>
    <div class="buttons">
        <a href="{{ path('private_group') }}" >
            <img src="{{asset('bundles/amugroupie/images/prev-green.png')}}" alt=""/>
            &nbsp;Retour à la liste des groupes privés&nbsp;
        </a>
    </div>

{% endblock %}