{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}


{% block body %}
    <link rel="Stylesheet" href="{{ asset('bundles/amugroupie/css/jquery-ui.min.css') }}" /> <!-- jquery_ui_theme -->
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/jquery.dataTables.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/initdatatable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            initdatatable('#memb');
        } );
    </script>

    <div style="padding: 15px">

        <h1>Liste des membres du groupe privé <span style="font-variant: small-caps; ">{{ cn }}</span></h1>
        <br>
        {% if nb_membres == 0 %}
            <h3>   Le groupe n'a pas de membre. </h3>
            <br>
        {% else %}
            <h3> <b>  Propriétaire du groupe : </b>{{ proprietaire.displayname }} </h3>
            <br>
            <h3> <b>  Nombre de membres du groupe : </b>{{ nb_membres }} </h3>
            <br>

            <table id="memb" class="display">
                <thead>
                    <tr>
                        <th>Nom complet</th>
                        <th>Identifiant</th>
                        <th>Téléphone</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr >
                        <td style="vertical-align: middle;">{{user.displayname }}</td>
                        <td style="vertical-align: middle;">{{user.uid }}</td>
                        <td style="vertical-align: middle;">{{user.tel }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        <br>
        <div class="buttons">
            <button type="button"  onclick="history.back()"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/prev-green.png') }}" />&nbsp;Retour à la liste des groupes &nbsp;</button>
        </div>
        <br>
        <br>
    </div>

{% endblock %}