{% use "form_div_layout.html.twig" %}

{% block form_row %}
{% spaceless %}
<tr>
      <td class="amuFormsLabel TabInfos">
            {{ form_label(form) }}
        </td>
        <td class="ui-helper-clearfix ui-helper-reset TabInfos amuFormsData">
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock form_row %}

{% block hidden_row %}
{% spaceless %}
    <tr style="display: none">
        <td colspan="2">
            {{ form_widget(form) }}
        </td>
    </tr>
{% endspaceless %}
{% endblock hidden_row %}

<center>
{% block form_widget_compound %}
{% spaceless %}
    <table class="zebra ui-state-default ui-corner-all" {{ block('widget_container_attributes') }} >
      <thead><tr class="ui-widget-header ui-corner-all" ><th style="height:45px;text-align:center;" >Champs</th><th  style="height:45px;text-align:center;" >Valeurs</th></tr></thead> 
        <tbody>
        {% if form.parent is empty and errors|length > 0 %}
        <tr><td colspan="2">{{ form_errors(form) }}</td></tr>
        {% endif %}
        
        {{ block('form_rows') }}
        {{ form_rest(form) }}
        </tbody>
        {#<tfoot><tr><th colspan="2">exemple de pied de tableau...</th></tr></tfoot>#}
    </table>
{% endspaceless %}
{% endblock form_widget_compound %}
</center>