{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Modification des attributs d'un utilisateur{% endblock %}

{% block body %}
 
    {% set hilightColor='#C7FE74' %}

    {% if app.session.has('_saved') and app.session.get('_saved', 0) == 1 %}
        <div style="display: none;"> {{ app.session.remove('_saved') }} </div>

        {% if app.session.flashbag.has('flash-notice') %}
            <center>
                <div class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
                    {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            </center>
        {% endif %}

        <br>    
        <h3> Appartenances de l'utilisateur : {{user.displayname}}, uid = {{user.uid}} </h3>
        <br>
        <table class="ui-widget-content dataTable TabInfos" filter="-1">
            <thead>
                <tr>
                    <th>Nom du groupe</th>
                    <th>Membre</th>
                    <th>Administrateur</th>
                </tr>
            </thead>
            <tbody>
            {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                {% for m in user.memberships  %}
                    <tr> 
                        <td style="vertical-align: middle;"> {{ m.groupname }}  </td>
                        <td style="vertical-align: middle;"> <input type = 'checkbox' disabled="disabled" {% if m.memberof == 1 %} checked='checked' {% endif %} /> </td>
                        <td style="vertical-align: middle;"> <input type = 'checkbox' disabled="disabled" {% if m.adminof ==1 %} checked='checked' {% endif %} /> </td>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>

    {% else %}    

        <form class="amuForms" id="_ajxFromModifier">
            <br>    
            <h3>Appartenances de l'utilisateur : {{user.displayname}}, uid = {{user.uid}}</h3>
            <br>
            <table class="ui-widget-content dataTable TabInfos" filter="-1">
                <thead>
                    <tr>
                    <th>Nom du groupe</th>
                    <th>Membre</th>
                    <th>Administrateur</th>
                    </tr>
                </thead>
                <tbody>
                    {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                    {% for m in form.memberships  %}
                        <tr> 
                            {% if user.memberships[loop.index0].droits == 'Modifier' %}
                                <td style="vertical-align: middle;"> {{ user.memberships[loop.index0].groupname }} </td>
                                <td style="vertical-align: middle;"> {{ form_widget(m.memberof) }} </td>
                                <td style="vertical-align: middle;"> {{ form_widget(m.adminof) }} </td>
                            {% else %}
                                <td style="vertical-align: middle;"> {{ user.memberships[loop.index0].groupname }} </td>
                                <td style="vertical-align: middle;"> {{ form_widget(m.memberof, { 'disabled':'disabled' } ) }} </td>
                                <td style="vertical-align: middle;"> {{ form_widget(m.adminof, { 'disabled':'disabled' } ) }} </td>
                            {% endif %}
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p>
                <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
                onclick="loadPage('{{ path('user_update', { 'uid': user.uid }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/save-2.png')}}" />&nbsp;Enregistrer les modifications&nbsp;</button>
                <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('accueil') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/cancel.png')}}" />&nbsp;Annuler&nbsp;</button>
                <span class="record_actions"></span>
            </p>
            {{ form_rest(form) }}
            {# ... #}
        </form>

    {% endif %}
    
    <br>
    
    <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{path('user_display') }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la liste&nbsp;
    </button>

{% endblock %}


