{% extends 'AppBundle::page.html.twig' %}

{% block titre %}Utilisateur{% endblock %}

{% block body %}
    
<table class="ui-widget-content dataTable TabInfos" filter="25">
    <thead>
        <tr>
            <th>uid</th>
	    <th>DisplayName</th>
            <th>Mail</th>
            <th>Tel</th>
            {% if opt == 'add' %}
            <th> Groupe </th>
            <th> Ajouter </th>
            {% endif %}
            {% if opt == 'search' %}
            <th> Voir </th>
            <th> Modifier </th>
            <th> Ajouter </th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
	<tr > 
	  <td style="vertical-align: middle;">{{user.uid}}</td>
          <td style="vertical-align: middle;">{{user.displayname}}</td>
          <td style="vertical-align: middle;">{{user.mail}}</td>
          <td style="vertical-align: middle;">{{user.tel}}</td>
          {% if opt == 'add' %}
              <td style="vertical-align: middle;">{{cn}}</td>
              <td style="vertical-align: middle;"> 
              <img class="jqtip ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/user-add.png') }}" title="<small>Ajouter des droits</small>" class="ui-button" onclick='loadPage("{{ path('user_add', { 'uid': user.uid, 'cn': cn }) }}");' />
            </td>  
          {% else %}
              {% if opt == 'search' %}
                  {% if droits == 'Aucun' %}
                    <td style="vertical-align: middle;">   
                        <img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/view-page.png') }}" title="Voir les droits sur les groupes" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);"  />
                    </td>
                    <td style="vertical-align: middle;"> 
                        <img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/modif.png') }}" title="Modifier des droits" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);"  />
                    </td>  
                    <td style="vertical-align: middle;"> 
                        <img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/user-add.png') }}" title="Ajouter des droits" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);"  />
                    </td>  
                  {% endif %}
                  {% if droits == 'Voir' %}
                    <td style="vertical-align: middle;">   
                        <img class="jqtip ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/view-page.png') }}" title="<small>Voir les droits sur les groupes</small>" class="ui-button" onclick='loadPage("{{ path('voir_user', { 'uid': user.uid }) }}");' />
                    </td>
                    <td style="vertical-align: middle;"> 
                        <img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/modif.png') }}" title="Modifier des droits" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);"  />
                    </td>  
                    <td style="vertical-align: middle;"> 
                        <img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/user-add.png') }}" title="Ajouter des droits" style="filter: grayscale(100%);-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);"  />
                    </td>  
                  {% endif %}
                  {% if droits == 'Modifier' %}
                    <td style="vertical-align: middle;">   
                        <img class="jqtip ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/view-page.png') }}" title="<small>Voir les droits sur les groupes</small>" class="ui-button" onclick='loadPage("{{ path('voir_user', { 'uid': user.uid }) }}");' />
                    </td>
                    <td style="vertical-align: middle;"> 
                        <img class="jqtip ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/modif.png') }}" title="<small>Modifier des droits</small>" class="ui-button" onclick='loadPage("{{ path('user_update', { 'uid': user.uid }) }}");' />
                    </td>  
                    <td style="vertical-align: middle;"> 
                        <img class="jqtip ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/user-add.png') }}" title="<small>Ajouter des droits</small>" class="ui-button" onclick='loadPage("{{ path('group_search', { 'opt':'add', 'uid': user.uid }) }}");' />
                    </td>  
                  {% endif %}
              {% endif %}
          {% endif %}
        </tr>
   {% endfor %}
    </tbody>
</table>

   
{% endblock %}
