{% block extends %}
{{"{% extends 'AppBundle::page.html.twig' %}"}}
{% endblock extends %}
{{"{% block titre %}Liste des "~ entity ~"{% endblock %}"}}

{% block body %}
{{ "{% block body %}" }}
{{"{% set hilightColor='#C7FE74' %}"}}

{{ '
{%set legendeCouleurs="<center><b>L&eacute;gende</b></center><small><font color=blue>&Eacute;l&eacute;ments en bleu</font> =  &eacute;l&eacute;ments optionnels</br><font color=red>&Eacute;l&eacute;ments en rouge</font> =  &eacute;l&eacute;ments obligatoires</br><span style=\'background-color:"~hilightColor~" ;\' >&Eacute;l&eacute;ments sous fond color&eacute; vert</span> =  Mise en surbrillance du dernier &eacute;l&eacute;ment ajout&eacute;/modifi&eacute;</small>" %}
<p><small><a class="ui-button jqtip" title="{{legendeCouleurs}}"><img src="{{ asset("bundles/app/images/ico/16/help-book.png")}}" align="absmiddle" />&nbsp;<b>L&eacute;gende...</b></a></small></p>
'}}

{{ '

    {# SAMPLE :

    Ajouter un style si l\'element est desactive/supprimer..
    Remplacer/completer le <tr> du Tableau avec la ligne suivante:

      <tr id="dataLine_{{entity.id}}" class="jqtip" title="{{stateTip}}" style="{{ lineStyle }}">

    #}

' }}

  <table class="ui-widget-content dataTable TabInfos" filter="25">
    <thead>
        <tr>
        {%- for field, metadata in fields %}
          <th>{{ field|capitalize }}</th>
        {%- endfor %}
          <td  style="vertical-align: middle;text-align: center;width:90px;">Actions</td>
        </tr>
    </thead>
    <tbody>
    {{ '{% for entity in entities %}' }}
    	<tr {{'id="dataLine_{{entity.id}}"' }}>
      {%- for field, metadata in fields %}
        {%- if loop.first and ('show' in actions) %}
          {# <a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id }) }}" }}">...</a> #}
          <td align="center" style="vertical-align: middle;">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
        {%- elseif metadata.type in ['time'] %}
          <td align="center" style="vertical-align: middle;">{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'H:i:s\') }}{% endif %}' }}</td>
        {%- elseif metadata.type in ['date'] %}
          <td align="center" style="vertical-align: middle;">{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d/m/Y\') }}{% endif %}' }}</td>
        {%- elseif metadata.type in ['datetime'] %}
          <td align="center" style="vertical-align: middle;">{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d/m/Y H:i:s\') }}{% endif %}' }}</td>
        {%- elseif ((metadata.type in ['color']) or ('col' in field)) %}            
          <td align="center" style="vertical-align: middle;" ><div style="background-color:{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }};padding:5px;width:8px;height:8px;border: #000000 solid 1px;" ></div></td>
        {%- else %}
          <td style="vertical-align: middle;">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
        {%- endif %}
        {%- if loop.last %}
          <td align="center" style="vertical-align: middle;width:90px;">
            <nobr>
              {% set hide_edit, hide_delete, hide_cancel, hide_back = false, false, true, true %}
              {%- include "crud/views/others/actions.html.twig.twig" %}
              {{"{%if ((app.security.token.authenticated is defined) and (is_granted('ROLE_MANAGER'))) %}"}}
                &nbsp;&nbsp;<img align="absmiddle" src="{{ "{{asset('bundles/app/images/ico/16/delete.png')}}" }}" class="jqtip ui-button" title="<small>Supprimer...</small>" style="clear:both;" onclick="if(confirm('&Ecirc;tes-vous certain de vouloir supprimer cet &eacute;l&eacute;ment ({{"{{entity.id }}"}}) ?')){$.post('{{ "{{ path('"~ route_name_prefix ~"_delete',{'id': entity.id }) }}"}}',$('#_ajxFromDeleter_{{ "{{ entity.id }}"}}').serializeArray(),function(){loadPage('{{"{{ path('"~ route_name_prefix ~"') }}"}}');});}"  />
                <span style="display: none;">
                  <form id="_ajxFromDeleter_{{ "{{entity.id}}" }}" action="{{ "{{ path('"~ route_name_prefix ~"_delete', { 'id': entity.id }) }}" }}" method="post">
                  {{ "{{ form_widget(delete_forms[entity.id]) }}" }}
                  </form>
                </span>
              {{"{%endif%}"}}
              &nbsp;&nbsp;
            </nobr>
          </td>
        {%- endif %}
    {%- endfor %}
      </tr>
    {{ '{% endfor %}' }}
    </tbody>
    <tfoot class="ui-state-default ui-corner-all">
    {{ "{%if entities|length==0 %}" }}
      <tr>
        <td colspan="{{fields|length+1}}" style="padding:10px;"><span class="ui-state-error" style="height:50px;text-align:center;padding:5px;">Il n'y a aucun(e) "{{ entity }}" d&eacute;fini(e) pour le moment...</span></td>
      </tr>
    {{ "{%endif%}" }}
    {% if 'new' in actions %}  
      <tr>
        <td colspan="{{fields|length+1}}" >
          <a class="ui-button ui-widget-content ui-corner-all" style="clear:both;padding:5px;" onclick="loadPage('{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}');" ><img align="absmiddle" src="{{ "{{asset('bundles/app/images/ico/16/add.png')}}" }}" />&nbsp;Ajouter...&nbsp;</a>
        </td>
      </tr>
    {% endif %}
    </tfoot>
</table>

{{ '

{# SAMPLE : 

    1. Generer une ligne ico Flag red/green pour les champs de type boolean:
    
      Ajouter dans la boucle for avant le <tr> les lignes suivantes:
        {%set lineStyle=(entity.state==1?"":"color:red;font-style:italic;") %}
        {%set stateTip="<small><center><b> <font color=blue>"~ entity.INFOS_FIELD~"</font> =></b>.</br><font color=blue>Ce ....  </font>est <b><font color="~(entity.state==1?"green>Actif":"red>D&eacute;sactiv&eacute;")~"</font></b></center>"|raw %}

      Puis modifier la ligne du champ boolean comme suit :
       <td align="center" style="vertical-align: middle;"><span style="display:none;">{{entity.state}}</span><img class="jqtip" title="{{stateTip}}" align="absmiddle" src="{{asset("bundles/app/images/ico/16/"~(entity.state==1?"flag-green":"flag-red")~".png")}}" /> </td>


     2. Pour Forcer la colonne "id" toujours en 1ier, modifier son td en ajoutant la ligne suivante AVANT {{ entity.id }}
  
      <span style="display: none;">_</span>


     3. Visualiser la valeur d\'un champs color :

      <td style="vertical-align: middle;" align="center"><div style="background-color:{{ entity.color }};padding:5px;width:8px;height:8px;border: #000000 solid 1px" > </div></td>



    #}'}}

{{'
{%if lastId is defined %}
<script type="text/javascript">
  $("#dataLine_{{lastId}} > *").css("background-color","{{hilightColor}}");
</script>
{%endif%}
'}}
{#% if 'new' in actions %}
<p><a class="ui-button ui-widget-content ui-corner-all" style="clear:both;padding:5px;"  onclick="loadPage('{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}');" ><img align="absmiddle" src="{{ "{{asset('bundles/app/images/ico/16/add.png')}}" }}" /> Ajouter </a></p>
{% endif %#}

<script language="JavaScript" type="text/javascript">
$(function() {
  // rajouter ici vos lignes d'initialisation...
  
});
</script>

{{ "{% endblock %}" }}
{% endblock body %}

{{"{% block javascripts %}"}}

{{"{% endblock %}"}}
