{% block extends %}
{{"{% extends 'AppBundle::page.html.twig' %}"}}
{% endblock extends %}
{{"{% block titre %}Visualisation de "~ entity ~"{% endblock %}"}}

{% block body %}
{{ "{% block body %}" }}
{{ '
{%set legendeCouleurs="<small><font color=blue>&Eacute;l&eacute;ments en bleu</font> =  &eacute;l&eacute;ments optionnels</br><font color=red>&Eacute;l&eacute;ments en rouge</font> =  &eacute;l&eacute;ments obligatoires</small>" %}
<p><small><a class="ui-button jqtip" title="{{legendeCouleurs}}"><img src="{{ asset("bundles/app/images/ico/16/help-book.png")}}" align="absmiddle" />&nbsp;<b>L&eacute;gende...</b></a></small></p>
'}}

<center>
  <table class=" ui-state-default ui-corner-all tablesorterV2 TabInfos" style="max-width:750px;background-color: transparent;">
    <thead class="ui-state-default ui-corner-all">
      <tr><th>&Eacute;l&eacute;ments</th><th>Valeurs</th></tr>
    </thead>
    <tbody>
    {%- for field, metadata in fields %}
      <tr>
        <td>{{ field|capitalize }}</td>
      {%- if metadata.type in ['time'] %}
        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'H:i:s\') }}' }}</td>
      {%- elseif metadata.type in ['date', 'datetime', 'datetimetz'] %}
        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d/m/Y H:i:s\') }}' }}</br><input class="datetimepicker" value="{{ '{{ entity.'~ field|replace({'_': ''}) ~'|date(\'d/m/Y H:i:s\') }}' }}" /> </td>
      {%- elseif ((metadata.type in ['color']) or ('col' in field)) %}            
        <td><div style="background-color:{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }};padding:5px;width:16px;height:16px;border: #000000 solid 2px;" ></div></td>
      {%- else %}
        <td>{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</td>
      {%- endif %}
      </tr>
    {%- endfor %}
    </tbody>
      <tfoot class="ui-state-default ui-corner-all">
        <tr>
          <td colspan="2">
            {% set  hide_back, hide_edit, hide_delete, hide_cancel = false, false, false, true %}
            {% include 'crud/views/others/record_actions.html.twig.twig' %}
          </td>
        <tr
      </tfoot>
  </table>
</center>

{{ '

{# SAMPLE : 

    Pour Forcer la colonne "id" toujours en 1ier,  modifier son <td< en ajoutant la ligne suivante AVANT le {{ entity.id }}
        
      <td ...><span style="display: none;">_</span>{{ entity.id }}</td>


    Pour Visualiser la valeur d\'un champs de type color:

     <td><div style="background-color:{{ entity.color }};padding:5px;width:16px;height:16px;border: #000000 solid 2px;" ></div></td>


#}'}}

<script language="JavaScript" type="text/javascript">
$(function() {
  // rajouter ici vos lignes d'initialisation...
  
});
</script>

{{ "{% endblock %}" }}
{% endblock body %}


{{"{% block javascripts %}"}}


{{"{% endblock %}"}}
