{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/jquery.dataTables.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/initdatatable.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            initdatatable('#memb');
        } );
    </script>

    <div style="padding: 15px">

        <h1>Utilisateur</h1>

        <table id="memb" class="display">
            <thead>
                <tr>
                    <th>Identifiant</th>
                    <th>Nom complet</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Composante</th>
                    <th>Service</th>
                    {% if opt == 'add' %}
                        <th> Groupe </th>
                        <th> Ajouter </th>
                    {% endif %}
                    {% if opt == 'addprivate' %}
                        <th> Groupe </th>
                        <th> Ajouter </th>
                    {% endif %}
                    {% if opt == 'search' %}
                        <th> Voir </th>
                    {% endif %}
                    {% if opt == 'searchprivate' %}
                        <th> Voir </th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr >
                    <td style="vertical-align: middle;">{{user.uid}}</td>
                    <td style="vertical-align: middle;">{{user.displayname}}</td>
                    <td style="vertical-align: middle;"> <a href="mailto:{{user.mail}}"> {{user.mail}}</td>
                    <td style="vertical-align: middle;">{{user.tel}}</td>
                    <td style="vertical-align: middle;">{{user.comp}}</td>
                    <td style="vertical-align: middle;">{{user.aff}}</td>
                    {% if opt == 'add' %}
                        <td style="vertical-align: middle;">{{cn}}</td>
                        <td style="vertical-align: middle;">
                            <a href="{{path('user_add', { 'uid': user.uid, 'cn': cn, 'liste': liste })}}">
                                <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/user-add.png") }}" title="Ajouter des droits "/>
                            </a>
                        </td>
                    {% else %}
                        {% if opt == 'addprivate' %}
                            <td style="vertical-align: middle;">{{cn}}</td>
                            <td style="vertical-align: middle;">
                                <a href="{{path('user_add_private', { 'uid': user.uid, 'cn': cn, 'liste': liste })}}">
                                    <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/user-add.png") }}" title="Ajouter des droits "/>
                                </a>
                            </td>
                        {% else %}
                            {% if opt == 'search' %}
                                <td style="vertical-align: middle;">
                                    <a href="{{path('user_update', { 'uid': user.uid })}}">
                                        <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/modif.png") }}" title="Modifier des droits "/>
                                    </a>
                                </td>
                            {% else %}
                                {% if opt == 'searchprivate' %}
                                    {# {% if droits == 'Voir' %} #}
                                    <td style="vertical-align: middle;">
                                        <a href="{{path('voir_user_private', { 'uid': user.uid })}}">
                                            <img class="jqtip ui-button" align="absmiddle" src="{{ asset("bundles/amugroupie/images/view-page.png") }}" title="Voir les droits sur les groupes privés "/>
                                        </a>
                                    </td>
                                    {# {% endif %}    #}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </tr>
               {% endfor %}
            </tbody>
        </table>
        <br>
        {% if opt == 'add' %}
            <div class="buttons">
                <a href="{{ path('group_update', { 'cn': cn, 'liste': liste }) }}" >
                    <img src="{{asset('bundles/amugroupie/images/prev-green.png')}}" alt=""/>
                    &nbsp;Retour à la gestion du groupe&nbsp;
                </a>
            </div>
        {% endif %}
        {% if opt == 'search' %}
            <div class="buttons">
                <a href="{{ path('user_search') }}" >
                    <img src="{{asset('bundles/amugroupie/images/prev-green.png')}}" alt=""/>
                    &nbsp;Retour à la recherche&nbsp;
                </a>
            </div>
        {% endif %}
        <br><br>
    </div>
{% endblock %}
