{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}

<h1>Ajout de droits</h1>

    {% if app.session.has('_saved') and app.session.get('_saved', 0) == 1 %}
        <div style="display: none;"> {{ app.session.remove('_saved') }} </div>
 
        {% if app.session.flashbag.has('flash-notice') %}
            <center>
                <div class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
                    {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                        <p>{{ flashMessage }}</p>
                    {% endfor %}
                </div>
            </center>
        {% endif %}
  
        <br>    
        <h3>Droits sur le groupe : {{ cn }}</h3>
        <br>
        <table class="ui-widget-content dataTable TabInfos" filter="25">
            <thead>
                <tr>
                    <th>uid</th>
                    <th>DisplayName</th>
                    <th>Membre</th>
                </tr>
            </thead> 
            <tbody>
                {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                {% for m in user.memberships  %}
                    <tr> 
                        <td style="vertical-align: middle;">{{user.uid}}</td>
                        <td style="vertical-align: middle;">{{user.displayname}}</td>
                        <td style="vertical-align: middle;"> <input type = 'checkbox' disabled="disabled" {% if m.memberof == 1 %} checked='checked' {% endif %} /> </td>
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
        
        <br>
    
        <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
	onclick="loadPage('{{ path('user_search', { 'opt': 'addprivate', 'cn' : cn }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/add-1.png')}}" />&nbsp;Ajouter un autre membre&nbsp;</button>      
    
        <br>
        <br>
        <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('accueil') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/home.png')}}" />&nbsp;Retour à l'accueil&nbsp;</button>
       
    {% else %}
        <form class="amuForms" id="_ajxFromModifier">
            <br>    
            <h3>Droits sur le groupe : <b>{{ cn }}</b></h3>
            <br>
            <table class="ui-widget-content dataTable TabInfos" filter="25">
                <thead>
                    <tr>
                        <th>uid</th>
                        <th>DisplayName</th>
                        <th>Membre</th>
                    </tr>
                </thead>
                <tbody>          
                    {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                    {% for m in form.memberships  %}
                        <tr> 
                            <td style="vertical-align: middle;">{{user.uid}}</td>
                            <td style="vertical-align: middle;">{{user.displayname}}</td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.memberof) }} </td>
                        </tr>  
                    {% endfor %}
                </tbody>
            </table>
    
            <br> 
            <p>
                <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
                onclick="loadPage('{{ path('user_add_private', { 'uid': user.uid, 'cn': cn }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/user-add.png')}}" />&nbsp;Ajouter les droits&nbsp;</button>
                <span class="record_actions"></span>
                <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;" onclick="loadPage('{{ path('accueil') }}');" ><img align="absmiddle" src="{{asset('bundles/app/images/ico/16/cancel.png')}}" />&nbsp;Annuler&nbsp;</button>
            </p>
    
            {{ form_rest(form) }}
            {# ... #}
        </form>
        <br>

        {% if opt == 'liste' %}
            <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
                onclick="loadPage('{{path('user_display', { 'opt': 'addprivate', 'cn': cn }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la liste des utilisateurs&nbsp;
            </button>
        {% endif %}
        {% if opt == 'recherche' %}
            <button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"  
                onclick="loadPage('{{path('user_search', { 'opt': 'addprivate', 'cn': cn }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/prev-green.png') }}" />&nbsp;Retour à la recherche d'utilisateurs&nbsp;
            </button>
        {% endif %}
    {% endif %}
{% endblock %}


