{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/initdatatable.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initdatatable('#groups');
            initdatatable('#groups2');
        } );
    </script>

    <h1>Liste des groupes de l'utilisateur {{ uid }} </h1>
    
    {% if nb_grp_admins == 0 %}
        <h3>   L'utilisateur n'est administrateur d'aucun groupe. </h3>
        <br>
     {% else %}
    
        <h3>   Nombre de groupes dont l'utilisateur est administrateur : {{ nb_grp_admins }} </h3>
        <br>

        <table id="groups" class="display">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for grp in grp_admins %}
            <tr >
              <td style="vertical-align: middle;">{{grp.cn }}</td>
                  <td style="vertical-align: middle;">{{grp.description }}</td>
                </tr>
           {% endfor %}
            </tbody>
        </table>
    {% endif %}
    {% if nb_grp_membres == 0 %}
        <h3>   L'utilisateur n'est membre d'aucun groupe. </h3>
        <br>
    {% else %}

        <br>
        <br>

        <h3>   Nombre de groupes dont l'utilisateur est membre : {{ nb_grp_membres }} </h3>
        <br>

        <table id="groups2" class="display">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for grp in grp_membres %}
            <tr >
              <td style="vertical-align: middle;">{{grp.cn }}</td>
                  <td style="vertical-align: middle;">{{grp.description }}</td>
                </tr>
           {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <br>
    <br>

    <div class="buttons">
        <button type="button"  onclick="history.back()"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/prev-green.png') }}" />&nbsp;Retour à la liste &nbsp;</button>
    </div>

{% endblock %}