{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}


{% block body %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css" />
    <link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.11/sorting/custom-data-source/dom-checkbox.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/amugroupie/js/initdatatable.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            initdatatable_userupdate('#memb');
        } );
    </script>

    {# Ajout d'une fonction javascript pour effacer automatiquement les messages flash après 5s #}
    <script type="text/javascript">
        setTimeout(function(){
            $('#flash').remove();
        },5000);
    </script>

    {% if app.session.flashbag.has('flash-notice') %}
        <center>
            <div id="flash" class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
                {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                    <p>{{ flashMessage }}</p>
                {% endfor %}
            </div> 
        </center>
    {% endif %}
    
    {% set hilightColor='#C7FE74' %}

    <h1>Modification des attributs d'un utilisateur</h1>
    <br>    
    <h3>Appartenances de l'utilisateur : {{user.displayname}}, uid = {{user.uid}}</h3>
    <br>
    <div class="buttons">
        <a href="{{ path('group_search', { 'opt': 'add', 'cn' : 0, 'uid' : user.uid }) }}">
            <img src="{{asset('bundles/amugroupie/images/add-2.png')}}" alt=""/>
            &nbsp;Ajouter un groupe&nbsp;
        </a>
    </div>

    <br>
    <br>
    <br>

    {{ form_start(form) }}
        <table id="memb" class="display">
            <thead>
                <tr>
                    <th>Nom du groupe</th>
                    <th>Membre</th>
                    <th>Administrateur</th> 
                </tr>
            </thead>
            <tbody>
                {# itère sur chaque membership existant et affiche les champs : name, memberof et adminof #}
                {% for m in form.memberships  %}
                   
                  {# Droits admin sur les groupes concernés #}
                  {% if user.memberships[loop.index0].droits == 'Modifier' %}
                     <tr>    
                        <td style="vertical-align: middle;"> {{ user.memberships[loop.index0].groupname }} </td>
                        <td style="vertical-align: middle;"> {{ form_widget(m.memberof) }} </td>
                        <td style="vertical-align: middle;"> {{ form_widget(m.adminof) }} </td>
                     </tr>      
                  {% else %}
                    {# Droits visu seulement pour la DOSI, sinon, on ne voit rien #}
                    {% if user.memberships[loop.index0].droits == 'Voir' %}
                        <tr>
                            <td style="vertical-align: middle;"> {{ user.memberships[loop.index0].groupname }} </td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.memberof, {'attr': {'disabled': 'true'}}) }} </td>
                            <td style="vertical-align: middle;"> {{ form_widget(m.adminof, {'attr': {'disabled': 'true'}}) }} </td>
                        </tr>
                    {% else %}
                        <div style="display:none">
                            {{ form_widget(m.memberof) }}
                            {{ form_widget(m.adminof) }}
                        </div>
                    {% endif %}    
                  {% endif %}
                {% endfor %}
            </tbody>
        </table>
        <br>

        <div class="buttons">
            <button type="submit" name="btValider" id="submit"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/valid.png') }}" />&nbsp;Valider les changements de droits&nbsp;</button>
            <a href="{{ path('homepage') }}">
                <img src="{{asset('bundles/amugroupie/images/cancel.png')}}" alt=""/>
                &nbsp;Annuler&nbsp;
            </a>
        </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    <br>
    <br>
    <br>
    <div class="buttons">
        <a href="{{ path('user_search') }}">
            <img src="{{asset('bundles/amugroupie/images/prev-green.png')}}" alt=""/>
            &nbsp;Retour à la recherche&nbsp;
        </a>
    </div>

    {# Ajout d'une fonction javascript pour gérer les lignes cachées de la datatable #}
    <script type="text/javascript" src="http://cdn.datatables.net/plug-ins/1.10.7/api/fnGetHiddenNodes.js"></script>
    <script type="text/javascript">
        $('#useredit').submit( function() {
            oTable = $('#memb').dataTable();
            $(oTable.fnGetHiddenNodes()).css("display", "none").appendTo(this);
        } );
    </script>
   

{% endblock %}



