{% extends 'base.html.twig' %}

{% block app_menu %}
    {{ knp_menu_render('AppBundle:Builder:mainMenu') }}
    <div class="clear"><hr /></div>
{% endblock %}


{% block body %}
    {{ parent() }}

    <link rel="Stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/redmond/jquery-ui.min.css" /> <!-- jquery_ui_theme -->
    <link rel="stylesheet" href="{{ asset('bundles/amugroupie/css/groupie.css') }}" type="text/css"/>
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" charset="utf8" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <h1>Recherche d'utilisateur</h1>

{% if app.session.flashbag.has('flash-notice') %}
    <center>
        <div class="ui-state-highlight ui-button ui-corner-all" onclick="$(this).remove();" style="min-width:600px;padding:15px;margin:10px;">
            {% for flashMessage in app.session.flashbag.get('flash-notice') %}
                <p>{{ flashMessage }}</p>
            {% endfor %}
        </div>
    </center>
{% endif %}
<div style="display:-moz-grid-line;">
<div style="float:left;clear:left;width: 469px;">
<form>
    
    <h2> Recherche individuelle </h2>
    <br>
    <h3> Veuillez indiquer l'identifiant ou le nom de la personne à rechercher. </h3>
    <br>  
    <br>
    
    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.uid) }}
        {{ form_errors(form.uid) }}
        {{ form_widget(form.uid) }}
    </div>
    
    <br>
    
    <div>
        {{ form_label(form.sn) }}
        {{ form_errors(form.sn) }}
        {{ form_widget(form.sn) }}
        
        {{ form_label(form.exacte) }}
        {{ form_errors(form.exacte) }}
        {{ form_widget(form.exacte) }}
    </div>

    <br>
    
    <p>

        <div class="buttons">
            <button type="submit" name="btRechercher"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/search-3.png') }}" />&nbsp;Rechercher&nbsp;</button>

            <a href="{{ path('homepage') }}">
                <img src="{{asset('bundles/amugroupie/images/cancel-16.png')}}" alt=""/>
                &nbsp;Annuler&nbsp;
            </a>
        </div>
     {#<button type="button" class="ui-button ui-widget-content ui-corner-all" style="padding:5px;"
	onclick="loadPage('{{ path('user_search', { 'opt': opt, 'cn' : cn, 'liste' : liste }) }}', $('#_ajxFromModifier').serializeArray());"><img align="absmiddle" src="{{asset('bundles/amugroupie/images/search-3.png')}}" />&nbsp;Rechercher&nbsp;</button>
     #}
    </p>
    
    {{ form_end(form) }}
    
</form>
</div>   

{% if opt=='add' %}   
    <div style="float:right;clear:right;width: 469px;">
        <h2> Ajout de personnes en masse </h2>
        <br>   
        <h3> Pour ajouter plusieurs membres en même temps, cliquez sur ce bouton. </h3>
        <br>    
        <br>
        <center>
            <div class="buttons">
                <a href="{{ path('user_multiple', { 'opt': opt, 'cn' : cn, 'liste' : liste }) }}">
                    <img src="{{asset('bundles/amugroupie/images/usergroup-add.png')}}" alt=""/>
                    &nbsp;Ajouts multiples&nbsp;
                </a>
            </div>
        </center>
    </div>
{% endif %}

</div>    
<p style='font-size:10px;'> 
    <img align="absmiddle" src="{{ asset('bundles/amugroupie/images/warning.png') }}" />
    L'autocomplétion fournit un maximum de 20 résultats. 
   <br>Si vous ne trouvez pas dans la liste la personne que vous recherchez, tapez le nom dans le formulaire puis cliquez sur le bouton "Rechercher". 
</p>
<br>

{% if opt=='add' %}
    <div class="buttons">
        <button type="button"  onclick="history.back()"><img align="absmiddle" src="{{ asset('bundles/amugroupie/images/prev-green.png') }}" />&nbsp;Retour&nbsp;</button>
    </div>
    <br>

{% endif %}



<script type="text/javascript">       
$('#usersearch_uid').autocomplete({
    source : function(requete, reponse){
            var motcle = $('#usersearch_uid').val();                       
            var DATA = 'motcle=' + motcle;
            
            $.ajax({
                    type:"POST",
                    url : "{{ path('ajax_uidcompletlist') }}",
                    dataType : 'json',
                    data : DATA, 

                    success : function(donnee){
                        reponse($.map(donnee, function(object){ 
                            return object;
                        }));
                    }            
                });
            },
    autoFocus: true,
    select : function(event, ui) {
        {# $('#usersearch_uid').val(ui.item.value); #}
        $(event.target).val(ui.item.value);
        $('#usersearch_uid').closest("form").submit();
        return false;
    }        
});  

$('#usersearch_sn').autocomplete({
    source : function(requete, reponse){ 
            var motcle = $('#usersearch_sn').val(); 
            var rech = 0;
            if($('#usersearch_exacte').is(':checked')){
                rech = 1;
            }
            var DATA = 'motcle=' + motcle + '&exacte=' + rech;
            
            $.ajax({
                    type:"POST",
                    url : "{{ path('ajax_sncompletlist') }}",
                    dataType : 'json',
                    data : DATA, 

                    success : function(donnee){
                         reponse($.map(donnee, function(object){ 
                            return {
                                label: object.label,
                                value: function ()
                                {
                                    if ($(this).attr('id') == 'value')
                                    {
                                            $('#usersearch_sn').val(object.value);
                                            return object.uid;
                                    }
                                    else
                                    {
                                            $('#usersearch_uid').val(object.uid);
                                            return object.value;
                                    }
                                }
                            }
                        }));    
                    }            
                });
            },
    autoFocus: true,
    select : function(event, ui) {
        {# $('#usersearch_sn').val(ui.item.value); #}
        $(event.target).val(ui.item.value);
        $('#usersearch_sn').closest("form").submit();
        return false;
    } 
}); 
    
</script>   
    
{% endblock %}