{%set navibar=false %}
{%spaceless%}
{# CHARTE versions #}
{%if app_charte==1 %} {# bleu clair #}
  {%set icoCnx=asset('bundles/app/images/amu/fonce/connexion.png') %}
  {%set icoDcnx=asset('bundles/app/images/amu/orange/deconnexion.png') %}
  {%set icoEnt=asset('bundles/app/images/amu/fonce/cle.png') %} 
  {%set icoAnnuaire=asset('bundles/app/images/amu/fonce/email.png') %} 
  {%set icoIntrAMU=asset('bundles/app/images/amu/fonce/intramu.png') %} 
  {%set icoWeb=asset('bundles/app/images/amu/fonce/accueil.png') %}
  {%set icoShowMsg=asset('bundles/app/images/amu/clair/restore.png') %}
  {%set icoHideMsg=asset('bundles/app/images/amu/clair/supprime.png') %}
  {%set icoCASDcnx=asset('bundles/app/images/ico/32/shutdown.png') %}

{%elseif app_charte==2%}
  {%set icoCnx=asset('bundles/app/images/ico/32/lock.png') %}
  {%set icoDcnx=asset('bundles/app/images/ico/32/close-1.png') %}
  {%set icoEnt=asset('bundles/app/images/ico/32/suitcase.png') %}
  {%set icoAnnuaire=asset( 'bundles/app/images/ico/32/address-book.png') %} 
  {%set icoIntrAMU=asset('bundles/app/images/ico/32/windows.png') %} 
  {%set icoWeb=asset('bundles/app/images/ico/32/world-bw.png') %}
  {%set icoShowMsg=asset('bundles/app/images/ico/32/comments-gray.png') %}
  {%set icoHideMsg=asset('bundles/app/images/ico/32/comments-del-gray.png') %}
  {%set icoCASDcnx=asset('bundles/app/images/ico/32/shutdown.png') %}
{%endif%}

{%set icoAlpha=asset('bundles/app/images/ico/16/monitor.png') %}
{%set icoBeta=asset('bundles/app/images/ico/16/clipboard-task.png') %}
{%set icoRelease=asset('bundles/app/images/ico/16/accept-2.png') %}

{%set app_width=((app_width is defined and app_width>655)?app_width:655) %}
{%set app_menu_no_label=false %}
{%set app_mode='normal'%}

{%if app.session.has('app.size') %} 
  {%set app_mode=app.session.get('app.size') %}
  {%if app_mode=='normal' %} 
   {%set app_ent=false%}
   {%set app_width=980 %} 
  {%elseif app_mode=='ent' %}
    {%set app_ent=true %}
  {%elseif app_mode=='tablet' %}
    {%set app_ent=false%}
    {%set app_width=800 %}
  {%elseif app_mode=='sm' %}
    {%set app_width=450 %}
    {%if (app_sm_iconizeTitleSlogan|default(false)==true) %}
      {%set app_slogan_bck=app_slogan %}
      {%set app_slogan="" %}
    {%endif%}
    {%set app_ent=true%}
    {%set app_menu_no_label=true %}
{%elseif (app_mode>980) %}  
    {%set app_ent=false %}
    {%set app_width=app_mode %}
    {%set app_width=((app_width is defined and app_width>655)?app_width:655) %}
{%else%}
    {# Mode normal #}
    {%set app_ent=false %}
  {%endif%}
{%endif%}

{% set isAuthentified=( ( (app.security.token.authenticated is defined) and  ((app.security.token.authenticated)==true) and (app.security.token.user!="anon.") ) and is_granted("ROLE_AUTHENTIFIED") ) or (app_forceAuthentification==false)%}


{# ORDRE TRES IMPORTANT NE PAS TOUCHER  #}
{% set app_offline=false %}
{% set clear_page=false %}
{# {{ render(controller("AppBundle:Debug:maintenance") }} #}
{%if (app.session.get('app.offline')==true) %} 
  {%if (app.session.get('_isDevelopper')==false) and (app.session.get("_isMaintenanceAuthorizedUser")==false) %}
    {% set page_clear_all_menus=true %}
    {% set app_offline=true %}
  {%endif%}
{%endif%}

{%if ( isAuthentified and  (app.session.get("app.intoCampagne")==false) and  (app.session.get("_isPassThroughRolesCampagne")==false) )  %}
 {# Pas dans la campagne...#}
{%endif%}
{# NO OPERATIONEL  

  {% if app_forceAuthentification==true %}
    {{ render(controller("AppBundle:Cas:login",{"url":app.request.uri}) }} 
  {%endif%}

#}

{#
{{ render(controller('AppBundle:Cas:passiveCheck')) }} {# en fonction de session "login"/"forceLogin" =>  init user context (app.user) + sessions Ldap vars (ldap.yml => profil:"full" ) # }
{%if (app.request.query.get("ticket")!="")  %}
  {{ render(controller('AppBundle:Cas:passiveCheck', { "ticket": app.request.query.get("ticket") })) }}
{%endif%}
#}
{#%set showDebugCNX=false %#}

{#%if (showDebugCNX==true) and (app_env=='dev')%}
<p>
  <br>AUTH= {{app.security.token.authenticated}}
  <br>USER= <pre>{{ dump(app.user) }} </pre>
  <br>TOKEN USER= <pre>{{ dump(app.security.token.user) }}</pre>
  <br>TOKEN ROLES= <pre> {{ dump(app.security.token.roles) }}</pre>
  <br>isAUTH= {{isAuthentified}}
</p>
{%endif%#}

{% set app_base_url=app.session.set("_app_base_url",app.request.uri) %}

{% set myLogin=app.session.get('login') %}   
{% set myIdentity=app.session.get('cn') %}   

{% set myIP=app.session.get('_ip') %}    

{% set isIntranet=app.session.get('_isIntranet') %}    
{% set isLocal=app.session.get('_isLocal') %}    
{% set isDev=app.session.get('_isDevelopper') %} 
{%if isAuthentified and is_granted('ROLE_DEVELOPPER')%}
  {%set isDev=true %}
{%endif%}

{%set isManager=( isAuthentified and ((is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER")) ) ) %}

{% set isBeta=app.session.get('_isBetaTesteur') %} 
{%if isAuthentified and is_granted('ROLE_BETA_TESTEUR')%}
  {%set isBeta=true %}
{%endif%}

{#{ app.session.set("isAuthentified",isAuthentified) }#}
{#{ app.session.set("app_offline",app_offline) }#}

{% set showUrl=false %}
{% if isAuthentified==false %}
  {{ app.session.set('login',"") }}
{%else%}
  {% set showUrl=(is_granted("ROLE_ADMIN") or is_granted("ROLE_MANAGER") or (isDev==true) ) %}
{%endif%}

{{ app.session.set("_ajx_page_route",app.request.attributes.get('_route')) }}    

{# GLOBALS CONST #}
{% set title_tips="&Agrave; propos de..." %}
{% set app_loading_message="<div style='background:#F4F4F4;min-height:600px;'><center><div style='padding:50px;padding-top:150px;'><div class='ui-widget-content ui-corner-all shadowed10' style='padding:50px;text-align:left;width:300px'><center><img align='absmiddle' src='"~ asset('bundles/app/images/ico/32/loading.gif')|raw ~"' />&nbsp;Chargement en cours</br></br>Merci de bien vouloir patienter...<div id='_loadpage_progressbar' class='ui-progressbar ui-progressbar-indeterminate'></div></div></div></div>" %}

{% set cur_page_name=app_name %}
{% set cur_page_slogan=app_slogan %}
{% set page_name_flags="" %}
{% set page_slogan_flags="" %}

{% set def_auteurs="" %}  
{% set mail_auteurs="" %}

{% if app_authors is defined  %}
  {% for oneAuthor in app_authors %}
    {% if (oneAuthor['isMain'] is defined) and (oneAuthor['isMain']==true)  %}
      {% set mail_auteurs = mail_auteurs~ ((mail_auteurs!="")?";":"")~oneAuthor['mail'] %}
    {% endif %} 
    {% set def_auteurs = def_auteurs~((def_auteurs!="")?",</br>":"")~oneAuthor['name'] %}
  {%endfor%}
  {% set def_auteurs = def_auteurs~ "." %}
{% endif %} 

{% set adapter=((app.request.scheme=="https" or app.request.port==443)?"https":"http") %}

{% endspaceless %}
<!DOCTYPE html>
<html id="html-amu" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" version="XHTML+RDFa 1.0" dir="ltr"
      xmlns:content="http://purl.org/rss/1.0/modules/content/"
      xmlns:dc="http://purl.org/dc/terms/"
      xmlns:foaf="http://xmlns.com/foaf/0.1/"
      xmlns:og="http://ogp.me/ns#"
      xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
      xmlns:sioc="http://rdfs.org/sioc/ns#"
      xmlns:sioct="http://rdfs.org/sioc/types#"
      xmlns:skos="http://www.w3.org/2004/02/skos/core#"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema#">
  <head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta charset="UTF-8" />
    <meta name="Generator" content="ASF v2.x" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Language" content="french" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="Author" content="{{ def_auteurs }}" />
    {# Special pour Slidebars #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% set ico = asset('bundles/app/images/ico/16/amu.png')  %}
    <link rel="icon" type="image/png" href="{{ ico }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ ico }}" />
    <title id="page_title">{% if page_title is defined and page_title!="" %}{{ page_title|raw }}{% else %}{{ app_title|raw}}{% endif %}</title>
    <link rel="shortcut icon" href="{{ asset('bundles/app/images/ico/favicon.ico') }}" type="image/vnd.microsoft.icon"  />
    {%for aLink in app_cdn_links if(aLink.type=='font')   %}
    <link rel="Stylesheet" href="{{ adapter~"://"~aLink.url }}" /> <!-- {{ aLink.name}} -->
    {%endfor%}
    {# chargement de 'bundles/ivoryckeditor/ckeditor.js' pour resolv bug visu CRUD 1ier accès = error CKEDITOR no exist... #}
    <script type="text/javascript" src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" ></script>
{% if(app_use_cdn==true) and (app.environment!="prod")%}
    <!-- MODE CDN Actif environment = {{app.environment}} -->
    {%for aLink in app_cdn_links %}
{% if(aLink.type=='css') %}
    <link rel="Stylesheet" href="{{ ((aLink.useLocal|default(false)==true)or(app_use_cdn==false))?asset(aLink.url):adapter~"://"~aLink.url }}" /> <!-- {{ aLink.name}} -->
{%elseif (aLink.type=='js') %}
    <script type="text/javascript" src="{{ ((aLink.useLocal|default(false)==true)or(app_use_cdn==false))?asset(aLink.url):adapter~"://"~aLink.url }}" ></script> <!-- {{ aLink.name}} -->
{%else%}
    <!-- INCONNU !!! name:{{ aLink.name}} , type: {{ aLink.type}} , url: {{ aLink.url}}, useLocal: {{aLink.useLocal|default(false)}}, isRequired: {{aLink.isRequired|default(true)}} -->
{%endif%}
{%endfor%}

{%else%}
    <!-- MODE Assets Actif environment = {{app.environment}}-->
{% javascripts output='css/all.js' 'bundles/app/cdn/*.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

{% stylesheets output='css/all.css'
filter='cssrewrite'
'bundles/app/cdn/*.css'
'bundles/amucligrouper/cdn/*.css'
%} {# #}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %} 

{%endif%}
    <style>
    #html-amu body {
      line-height: 1.5;
      font-size: 87.5%;
      word-wrap: break-word;
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      background:url('{{  asset(app_background)|default(asset('bundles/app/images/amu/fond_standard.png')) }}') no-repeat 50% 0;
    }
   
    #header{ background-image:url("{{  asset('bundles/app/images/amu/fond_amu_v2.png') }}"); }

    {%if (app_width is defined) and (app_width is not null) %}
    #all{width:{{app_width}}px;margin:0px auto;padding:0px;background-color:#ffffff;box-shadow: 1px 1px 12px #b8b8b8;border-radius: 10px 10px 10px 10px;}
    #header{ height:110px;background-position:left center,right center; background-origin: border-box, border-box;background-repeat: no-repeat,no-repeat;background-color:#F4F4F4;background-image: url("{{  asset('bundles/app/images/amu/fond_amu_v2-1.png') }}"),url("{{  asset('bundles/app/images/amu/fond_amu_v2-2.png') }}");width:{{app_width}}px;margin:0 auto;padding:0px;border-radius: 10px 10px 0px 0px;}
    #footerA{width:{{app_width}}px;}
    #block-block-1{width:{{app_width}}px;}
    #tools{clear:both;width:{{app_width}}px;height:33px;margin:0px auto;padding:0px;text-align:center;}
    {%endif%}

    {%if not (app_menu_force_upper==true) %}
     .titre  {text-transform:none;}
    {%endif%}  

    {%if (app_menu_min_width is defined) %}
     #main-menu li { min-width:{{ app_menu_min_width }}px; } 
    {%endif%}  
       
    #cluetip-waitimage {
      background-image: url("{{  asset('bundles/app/images/cluetip/wait.gif') }}");
    }
    div.clue-right-default .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/darrowleft.gif') }}");
    }
    div.clue-left-default .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/darrowright.gif') }}");
    }
    div.clue-top-default .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/darrowdown.gif') }}");
    }
    div.clue-bottom-default .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/darrowup.gif') }}");
    }
    div.clue-right-jtip .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/arrowleft.gif') }}");
    }
    div.clue-left-jtip .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/arrowright.gif') }}");
    }
    div.clue-top-jtip .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/arrowdown.gif') }}");
    }
    div.clue-bottom-jtip .cluetip-arrows {
      background-image: url("{{  asset('bundles/app/images/cluetip/arrowup.gif') }}");
    }

    {%if app_mode=='sm' %}
        #header{ background-image:url(""); }
        #html-amu body { background:url('') no-repeat 50% 0; }
        #page { width:{{app_width +20 }}px;}
        #all { width:{{app_width}}px;}
        a,p,.TabInfos,.aMessage,td { font-size:xx-small; }   
    {%endif%}
    
    #sb-site { background-color: transparent; }
    .sb-slidebar { background-color: white; }
    .ui-autocomplete { z-index: 200; }
    
     /* hide the dotted lines around an element when it receives focus */
    * { _noFocusLine: expression(this.hideFocus=true); } /* ie7 */
    ::-moz-focus-inner {border:0;}	                     /* firefox */
    :focus {outline:none;}                              /* ie8, chrome, etc */
        
    select::-ms-expand { display: none; } /* FIX IE */
    
    #DataTables_Table_0_length label select { color: black; }
    
    table.dataTable tr.odd, table.datatable tr.odd   { background-color: #E2E4FF; }
    table.dataTable tr.even, table.datatable tr.even { background-color: white; }   

   </style>
    <!--[if IE]> <link rel="stylesheet" href="{{ asset("bundles/app/css/ie.css") }}" type="text/css" media="screen" /> <![endif]-->
    {% block stylesheets %}{% endblock %}
  </head>
  
  <body  id="sb-site" class="html front not-logged-in one-sidebar sidebar-first page-node page-node- page-node-62 node-type-public-content">
  <noscript><meta http-equiv="Refresh" content="0; URL={{ path("error_no_javascript")}}"></noscript>
  <center>
  <input type="hidden" id="_curViewPage" value="" />
  <input type="hidden" id="nbCurShowedFlash" value="0" />
  <input type="hidden" id="nbMaxFlash" value="0" />
  
  {%set showCssHelper=false %}
  
  {% if (isDev==true) %}
    <span style="position:absolute;top:0px;left:0px;padding:5px;z-index:1;" >{% include 'AppBundle::debug.html.twig' %}</span>
  {%elseif (isBeta==true) %}
     <span style="position:absolute;top:0;left: 0;padding:15px;z-index:1;" >{% include 'AppBundle::beta.html.twig' %}</span>
  {% endif %}
            
  <div id="page-wrapper" data-quicklinks="true"role="main" style="background: transparent;" >
    {%if app_messages %}
    <div id="flashMessager" class="sb-slidebar sb-style-overlay sb-left ui-widget-content ui-corner-all shadowed10" style="margin:10px;min-width:375px;padding:15px;text-align:center;height:98%;"></div>
    <div id="helps" class="sb-slidebar sb-style-overlay sb-right ui-widget-content ui-corner-all shadowed10 " style="margin:10px;min-width:375px;padding:15px;text-align:center;height:98%;"></div>
    <img class="ui-button" style="position: fixed;top: 50%;right:98%;z-index:2;" id="btShowLeftPanel" src="{{ asset('bundles/app/images/ico/32/arrow-double-right-blue.png') }}" />
    <img class="ui-button" style="position: fixed;top: 50%;right:2%;z-index:2;" id="btShowRightPanel" src="{{ asset('bundles/app/images/ico/32/arrow-double-left-blue.png') }}" />
    {%endif%}
    {% if (isDev==true) and (navibar==true) %}
    <div id="navigatorBar" class="sb-slidebar sb-style-overlay sb-left ui-widget-content ui-widget-content ui-corner-all shadowed10" style="min-width:375px;padding:15px;text-align:center;max-height:50%; "></div>
    <img id="btNavigatorBar" class="ui-button" style="position: fixed;top: 50px;right:50px;z-index:2;" id="btShowNavigatorPanel" src="{{ asset('bundles/app/images/ico/32/organigramme.png') }}" />
    {%endif%}
    <div id="page" style="background: transparent;min-height:600px;" >
      <!-- Menu Outils avant entete de page -->
      <div id="tools">
        {% if app_ent!=true %} 
          <div class=""> {# outils #}
            <div class="region region-tools">
              <div id="block-menu-menu-tools-menu" class="block block-menu">
                <div class="content">
                    <ul class="menu clearfix">
                      <nobr>
                        {#
                        <li id="hideAllFlashMessage" class="outils_element cluetip ui-button" style="display:none;" onclick='hideAllMessages();$(this).blur();' title="Masquer tous les messages|Cliquez ici pour masquer de nouveau tous les messages/flashs d&apos;informations..." ><a><img src="{{icoHideMsg}}" /></a></li>
                        <li id="showAllFlashMessage" class="outils_element cluetip ui-button" style="display:none;" onclick='showAllMessages();$(this).blur();'  title="Afficher tous les messages|Cliquez ici pour afficher de nouveau tous les messages/flashs d&apos;informations..." ><a><img src="{{icoShowMsg}}" /></a></li>
                        #}
                        {%if 'site' in app_tools_links %}<li class="outils_element cluetip" title="Site officiel|Acc&egrave;s au site officiel d'Aix-Marseille Universit&eacute;..." ><a href="http://www.univ-amu.fr" target="_blank" onclick="$(this).blur();" ><img src="{{icoWeb}}" /></a></li> {%endif%}
                        {%if 'intramu' in app_tools_links %}<li class="outils_element cluetip" title="Acc&egrave;s intrAMU.|Acc&egrave;s &agrave; <b>intrAMU</b>, l&apos;intranet d'Aix-Marseille Universit&eacute;..." ><a href="http://http://intramu.univ-amu.fr" target="_blank" onclick="$(this).blur();" ><img src="{{icoIntrAMU}}" /></a></li> {%endif%}
                        {%if 'ent' in app_tools_links %}<li class="outils_element cluetip" title="Acc&egrave;s E.N.T.|Acc&egrave;s &agrave; l&apos;Environement Num&eacute;rique de Travail (E.N.T.) d'Aix-Marseille Universit&eacute;..." ><a href="http://ent.univ-amu.fr" target="_blank" onclick="$(this).blur();"  ><img src="{{icoEnt}}" /></a></li> {%endif%}
                        {%if 'annuaire' in app_tools_links %}<li class="outils_element cluetip" title="Acc&egrave;s Annuaire|Acc&egrave;s &agrave; l&apos;Annuaire - Aix-Marseille Universit&eacute;..." ><a href="http://annuaire.univ-amu.fr" target="_blank" onclick="$(this).blur();" ><img src="{{icoAnnuaire}}" /></a></li> {%endif%}
                        <li id="tool_connexion" class="outils_element cluetip" style="border:0px;{{ (((myLogin is not defined) or (myLogin==""))?"":"display:none;") }}" title="Connexion|{{ app_logon_tip|raw }}"  ><a href="{{ path("login",{"url":app.request.uri}) }}" onclick="$(this).blur();" ><img src="{{icoCnx}}" /></a></li>
                        <li id="tool_deconnexion" class="outils_element cluetip" style="border:0px;{{ (((myLogin is not defined) or (myLogin==""))?"display:none;":"") }}" title="D&eacute;connexion|{{ app_logout_tip|raw|format(myIdentity) }}"  ><a href="{{ path("logout") }}" onclick="$(this).blur();" ><img src="{{icoDcnx}}" /></a>&nbsp;<span id="cas_infos" class="shadowed5 ui-state-active ui-corner-all" style="color:green;padding: 5px;border: 1px solid #7CB61F;background-color:#F0FFF0;" ><img align="absmiddle" border=0 src="{{ asset('bundles/app/images/ico/18/ivalid.png') }}" /> {{ myIdentity }} </span></li>
                        {%if 'cas_logout' in app_tools_links %}<li class="outils_element cluetip" style="border:0px;" title="D&eacute;connexion|Forcer la d&eacute;connexion du CAS..." ><a href="{{ path("logout_cas") }}" onclick="$(this).blur();" ><img src="{{icoCASDcnx}}" /></a></li> {%endif%}
                      {# onmouseover=$("#cas_infos").show(); onmouseout=$("#cas_infos").hide(); #}
                      </nobr>
                    </ul>
                </div>
              </div>
                  {#   
              {% if debug is defined and debug==true  %}
              &nbsp;<span class='ui-button ui-icon ui-icon-trash ui-widget-content dbginfos' title='Effacer TOUTES les informations de debug...' onclick=$('.dbginfos').remove(); ></span>

                       &nbsp;<span class='ui-button ui-icon ui-icon-info ui-widget-content dbginfos' ></span><input type="text" size="5">&nbsp;ldapinfos</input>

              {%endif%}  #}
            </div>
          </div>
        {%else%}
          <br>
        {%endif%}
      </div>
        
        {%set version_infos=""%}
        {%if ((app_version is defined) and (app_version!="")) %}
          {%set icoVersion=asset('bundles/app/images/ico/16/information.png') %}
          {%set versionTxt="version"%}
          {%if ((app_type is defined) and (app_type!="")) %}
            {%if (app_type|lower=="a") %}
              {%set icoVersion=icoAlpha %}
              {%set versionTxt=versionTxt~" alpha"%}
            {%elseif (app_type|lower=="b") %}
              {%set icoVersion=icoBeta %}
              {%set versionTxt=versionTxt~" beta"%}
            {%elseif (app_type|lower=="r") %}
              {%set icoVersion=icoRelease %}
              {#%set versionTxt=versionTxt~" release"%#}
            {%endif%}
          {%endif%}
          {%set version_infos='<nobr>&nbsp;<span class="'~((app_mode=="sm" or app_mode=="ent")?"ui-state-default":"ui-state-active")~' ui-corner-all" style="font-size:'~((app_mode=="sm" or app_mode=="ent")?"8":"12")~'px;border: #EAEAEA solid 1px;font-weight:normal;" >&nbsp;'~versionTxt~'&nbsp;'~app_version|raw~'&nbsp;'~((app_mode!="sm" and app_mode!="ent")?'<img align="absmiddle" src="'~icoVersion~'" />&nbsp;':'')~'</span>&nbsp;</nobr>' %}
            {#  #}
        {%endif%}
        
        <div id="all" style="min-height:600px;" >
          <div>
          {% if app_ent==true %} 
          <div class="ui-widget-header {# ui-state-default ui-state-active ui-widget-header #} ui-corner-top" style="color:white;background-color:#F1F1F1;padding-top:5px;border-width:0px;border-bottom-style:hidden;{#border-bottom-style:hidden;border-color:#ff8800;border-width:2px; #}min-height:30px;font-size: xx-small;">
            <table>
              <tr>
                <td style="vertical-align: top;text-align:left;font-size:12px;">
                  <nobr><a href="{{app.request.uri}}" class="cluetip" title="Accueil|Cliquez ici pour retourner &agrave la page principale de l&apos;application" rel="home" style="text-decoration:none;font-weight:bolder;color:white;{#color:#666666;#}vertical-align:middle;"><img height="24" width="24" align="absmiddle" src="{{ asset(app_titleLogo|default(ico)) }}" />&nbsp;<span id="page_name" >{{ cur_page_name | raw }}</span></a>&nbsp;<span style="vertical-align:middle;{{ (app_mode=="sm")?"font-size:xx-small;":"" }}" id="app_name_flag">{{page_name_flags|raw}}</span></nobr>                 
                </td>
                <td style="text-align:right;vertical-align: middle;font-size: xx-small;"><nobr>&nbsp;
                    {#
                  <img src="{{ asset('bundles/app/images/ico/16/comments-insert.png') }}" id="showAllFlashMessage" class="cluetip" style="display:none;" onclick="$('.flashMessage').show('drop');$('#hideAllFlashMessage').show();$(this).hide();"  title="Afficher tous les messages|Cliquez ici pour afficher de nouveau tous les messages/flashs d&apos;informations..." />&nbsp;
                  <img src="{{ asset('bundles/app/images/ico/16/comments-delete.png') }}" id="hideAllFlashMessage" class="cluetip" style="display:none;" onclick="$('.flashMessage').hide('drop');$('#showAllFlashMessage').show();$(this).hide();" title="Masquer tous les messages|Cliquez ici pour masquer de nouveau tous les messages/flashs d&apos;informations..." />&nbsp;
                    #}
                  {%if (app_ent==true) and (isAuthentified==false) %}
                  &nbsp;<a title="Connexion|{{ app_logon_tip|raw }}"  class="cluetip" href="{{ path("login",{"url":app.request.uri})|raw }}" style="{{ (((myLogin is not defined) or (myLogin==""))?"":"display:none;") }}text-decoration:none;"  ><img src="{{ asset('bundles/app/images/ico/16/lock.png') }}" /></a>&nbsp;
                  {%endif%}
                  </nobr>             
                </td>
                <td style="width:100%;text-align:right;vertical-align:middle;font-size: xx-small;">
                  {% if isDev or isManager %}
                   <span class="ui-state-error ui-corner-all cluetip" title="Page en cours de visualisation|<font color=red>Information uniquement disponible pour les D&eacute;veloppeurs et Administrateurs de l'application...</font></small>" style="{{  (app_ent==true)?"padding:5px;font-size:8px;":"padding:5px;font-size:10px;" }}" ><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/modif-blue.png') }}" onclick="loadPage($('#_curViewPage').val());" />&nbsp;<span onclick="loadPage($('#_curViewPage').val());" id="_curRoute" style="color:blue;font-weight: normal;font-size: 8px;" >homepage</span></span>&nbsp;
                  {%endif%} 
                  {% if (cur_page_slogan is defined) and (cur_page_slogan!="") %}
                    {{ cur_page_slogan | raw }}
                  {%elseif (app_slogan_bck is defined) %}
                    <img align="absmiddle" class="cluetip" title="Description de l'application|{{ app_slogan_bck|raw }}" src="{{ asset('bundles/app/images/ico/16/information.png') }}" />
                  {% endif %}
                  &nbsp;<span style="vertical-align:middle;" id="app_slogan_flag"><nobr>{{page_slogan_flags|raw}}</nobr></span></br>
                  {{version_infos|raw}}
                  &nbsp;<span><nobr><a href="?env=normal" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'normal'..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/window-2.png') }}" /></a>&nbsp;<a href="?env=ent" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'ent'..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/amu.png') }}" style="border: blue dashed 1px;" /></a>&nbsp;<a href="?env=tablet" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'tablet' (800)..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/images.png') }}" /></a>&nbsp;<a href="?env=sm" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'sm' (SmartPhone: 450)..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/phone.png') }}" /></a></nobr></span>
                </td>
              </tr>
              </table>
          </div>
           {# <div style="height:3px; "></div>#}
        {%endif%}
          <!-- DEB ENTETE -->
          <span style="position:absolute;left:45%;padding:15px;{{ (showUrl?'':'display:none;') }}{{ (app_ent==true)?"top:-12px;":""}}">
            {%if (app_mode!="sm") and (app_mode!="ent")  %} {{version_infos|raw}}
              {% if isDev or isManager %}
                {%if (app_mode!="sm") and (app_mode!="ent")  %}
                <div style="padding:5px;">  
                  <span class="ui-state-active ui-corner-all" style="padding:5px;"><a href="?env=normal" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'normal'..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/window-2.png') }}" /></a>&nbsp;<a href="?env=ent" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'ent'..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/amu.png') }}" style="border: blue dashed 1px;" /></a>&nbsp;<a href="?env=tablet" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'tablet' (800)..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/images.png') }}" /></a>&nbsp;<a href="?env=sm" class="cluetip" title="Mode|Cliquer ici pour changer le mode de visualisation en 'sm' (SmartPhone: 450)..." target="_self"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/16/phone.png') }}" /></a></span>
                </div>
                {%endif%}
                  <div style="padding:5px;">
                    <span class="ui-state-error ui-corner-all cluetip" title="Page en cours de visualisation|<font color=red>Information uniquement disponible pour les D&eacute;veloppeurs et Administrateurs de l'application...</font></small>" style="{{  (app_ent==true)?"padding:5px;font-size:8px;":"padding:5px;font-size:10px;" }}" ><img class="ui-button" align="absmiddle" src="{{ asset('bundles/app/images/ico/16/modif-blue.png') }}" onclick="loadPage($('#_curViewPage').val());" />&nbsp;<span onclick="loadPage($('#_curViewPage').val());" id="_curRoute" style="color:blue;" >homepage</span></span>
                  </div>
              {%endif%}
            {%endif%}
          </span>
          
          {% if app_ent is defined and app_ent!=true %} 
          <div id="header" class="without-secondary-menu" >
            <div class="section clearfix" >
              {#<div>&nbsp;</div>#}
              <div id="name-and-slogan"  style="text-align:right;" {#{ ((app_titleLogo is defined) and (app_titleLogo!="")?'style="padding-right:64px;"':"")|raw }#}>
                <table style="margin-bottom: -29px;"  >
                  <tr>
                    <td>
                      <div id="site-name">
                        <div>
                          <div style="text-align:right;font-size:16px;"  ><a id="page_name" href="{{ path('homepage') }}" class="cluetip" title="Accueil|Cliquez ici pour retourner &agrave la page principale de l&apos;application" rel="home" style="text-decoration:none;font-weight:bolder;color:#666666;">{{ cur_page_name | raw }}</a>&nbsp;<span id="app_name_flag">{{page_name_flags|raw}}</span></div>
                        </div>                       
                      </div>
                      <div style="text-align:right;"><div id="page_slogan">{% if (cur_page_slogan is defined) and (cur_page_slogan!="") %}{{ cur_page_slogan | raw }}{% endif %}&nbsp;</div><span id="app_slogan_flag">{{page_slogan_flags|raw}}</span></div>
                    </td>
                    <td style="text-align:right;vertical-align: middle;">
                        {{ ((app_titleLogo is defined) and (app_titleLogo!="")? '<a href="'~path('homepage')~'" class="cluetip" title="Accueil|Cliquez ici pour retourner &agrave la page principale de l&apos;application" rel="home" style="text-decoration:none;"><img align="absmiddle" src="'~asset(app_titleLogo)~'" /></a>':'')|raw }}
                    </td>
                  </tr>
                </table>
             </div> <!-- /#name-and-slogan -->
            </div>
          </div>
          
          {%endif%}

          <div style="padding:4px;border-bottom: #EAEAEA solid 2px;">
            {# app_width-12 => espace entre les menus max =12 x 1px #}
            <div id="main-menu" class="navigation" ><ul class="links clearfix" id="app_menus" style="width:100%;border:0px; " ></ul></div>
            {#<img align="absmiddle" src="{{asset('bundles/app/images/ico/10/load.gif')}}" />Chargement en cours.... #}
          </div>

          {#% if (app_offline==true) and (isDev==false) %}
            <center>
              <div style="padding:20px;">
                <div class='ui-state-error ui-corner-all' style="padding:50px;"><table><tr><td align=center><img src="{{ asset('bundles/app/images/maintenance.gif') }}" /></td><td><h1>APPLICATION EN COURS DE MAINTENANCE...<h1>{{app_maintenance_message|raw}}</td></tr></table></div>
              </div>
            </center>
            {%endif%#} 
          <div id="myContent" data-role="content"  style="min-height:600px;display:none;text-align:left;z-index:2;{{ (app.session.get('app.size')=='sm')?'font-size:xx-small;':'' }}" >
              {#% include 'AppBundle::page.html.twig' %#}
              {# <center><div style="padding:20px;"><div class="ui-state-highlight ui-corner-all" style="padding:50px;"><table><tr><td align=center><img src="{{ asset('bundles/app/images/ico/32/loading.gif') }}" /></td><td><h1>APPLICATION EN COURS DE CHARGEMENT...<h1></td></tr></table></div></div></center>#}

              {% if app.session.get("app.offline") and (isDev==false) and (app.session.get("_isMaintenanceAuthorizedUser")==false)  %}
                {%if (app_maintenances!=false) %} 
                {% set clear_page=true %}  
                <center><div style="padding:20px;min-height:560px;"><div class="ui-state-error ui-corner-all" style="padding:50px;min-height:500px;"><table><tr><td align=center><img src="{{ asset(app_maintenance_icon) }}" /></td><td><h1>APPLICATION EN COURS DE MAINTENANCE...</h1><h2>{{app_maintenance_message|raw}}</td></h2></tr></table></div></div></center>
                {%endif%}
              {%elseif (isAuthentified==true) and  (app.session.get("app.intoCampagne",false)==false) and  (app.session.get("_isPassThroughRolesCampagne",false)==false and (app.session.get('externalAccount',false)==false) ) and (app_forceAuthentification==true) %}
                {#% set clear_page=true %#}  
                <center><div style="padding:20px;min-height:150px;"><div class="ui-state-error ui-corner-all" style="padding:50px;height:150px;"><table><tr><td align=center><img src="{{ asset('bundles/app/images/process-warning.png') }}" /></td><td><h1>AUCUNE CAMPAGNE EN COURS...</h1><br><h2><font color=red>Accès Refusé</font></h2></td></tr></table></div></div></center>
              {% elseif (isAuthentified==false) and (app.session.get("app.offline")==false) and (app.session.get('externalAccount',false)==false) and (app_forceAuthentification==true)  %}
                {% set clear_page=true %}
                <center><div style="padding:20px;min-height:560px;"><div class="ui-state-error-text ui-corner-all" style="padding:50px;min-height:500px;background: #FEF1EC;"><h1><center><b><a href="{{ path("login",{"url":app.request.uri}) }}"><img align="absmiddle" src="{{ asset('bundles/app/images/ico/128/lock.png') }}" /></a>AUTHENTIFICATION REQUISE</b></center></h1><table><tr>{#<td style="vertical-align:middle;" align=center ><img src="{{ asset('bundles/app/images/ico/48/question.png') }}" /></td>#}<td>{{app_need_authentificate_message |raw}}</td></tr></table></div></div></center>
              {%endif%}                          
              
            {{ app.session.set("clear_page",clear_page) }}
            {% if (clear_page==false) and (first_load|default(false)==false)%}
            <div style="padding-bottom:5px;padding-top:10px;" ><center><div class="ui-widget-header ui-corner-all " style="padding:5px; width:350px;">{% block titre %}{% endblock %}</div></center></div>
              <div  style="padding:10px;">
                <div class="ui-widget-content ui-corner-all"  style="padding:10px;background-color:#F4F4F4;" >{% block body %} inside page.html.twig (NO DATAS) {% endblock %}</div>
              </div>
            {%endif%}
          </div>
          <div id="footerA" style="height:28px;" >
            <div class="region region-footer">
              <div id="block-block-1" class="block block-block">
                <div class="content" style="padding:2px;">
                  <table  border="0" width="100%" align="center" cellpadding="0" cellspacing="0">
                  <tr class="TabInfos" id="page_footer" style="z-index:1;{{ (app_mode=='sm')?"font-size:xx-small;":"" }}">
                    <td align="left" valign="bottom" class="TabInfos" style="text-align:left;" >
                        {% if myLogin is defined and myLogin!="" %}
                        <img align="absmiddle" style="cursor:pointer;" class="cluetip" title="Login|Vous &ecirc;tes connect&eacute; en tant que :</br> <b>{{ myIdentity }}</b> (<i>{{ myLogin }}</i>)" src="{{ asset('bundles/app/images/ico/18/ivalid.png') }}" />&nbsp;<span style="color:green;{{ (app_mode=='sm')?"font-size:xx-small;":"font-size:smaller;" }}" >{{ myIdentity | escape }}</span>&nbsp;
                        {% else %}
                          <img align="absmiddle" style="cursor:pointer;" class="cluetip" title="Login|Vous n'&ecirc;tes pas encore connect&eacute;" src="{{ asset('bundles/app/images/ico/18/ivalidno.png') }}" />&nbsp;<span style="color:red;font-size:smaller;" >Non conect&eacute;</span>&nbsp;
                       {% endif %}
                          &nbsp;<span style="color:#336699;{{ (app_mode=='sm')?"font-size:xx-small;":"font-size:smaller;" }}" >{% if isIntranet is defined %}{% if isIntranet==1 %}intranet {% else %}extranet {% endif %}{% else %} R&eacute;seau inconnu {% endif %}({% if myIP is defined %}{{ myIP }}{% else %} adresse IP inconnue... {% endif %})</span>
                    </td>
                    <td align="center" class="TabInfos" >&nbsp;</td>
                    <td align="center" class="TabInfos" ><table><tr class="TabInfos" id="app_contacts">{%include "AppBundle:App:contacts.html.twig" %}</tr></table></td>
                      <td align="right" style="text-align:right;">&nbsp;<a class="cluetip" style="color:black;{{ (app_mode=='sm')?"font-size:xx-small;":"font-size:smaller;" }}text-decoration:none;" href="{%if (mail_auteurs is defined) and (mail_auteurs!="") %}mailto:{{ mail_auteurs }}{%else%}#{%endif%}" title="<center>Conception & d&eacute;veloppement</center>|<div style='font-size:18px;'><font color=gray ><font color=#0071B9><b>(</b></font></font>Aix<font color=orange>&sext;</font>Marseille <font color=#0071B9>Universit&eacute;</font></div><span class=TabInfos><nobr><center><b>D.O.S.I P&ocirc;le d&eacute;veloppement</b></center></nobr>{% if app_authors is defined %}<ul id='auteurs'>{% for item in app_authors %}<li><a style='text-decoration:none;' href='{{ item.mail }}'>{% if (item.isMain is defined) and (item.isMain==true)  %}<b>{{ item.name }}&nbsp;<img align='absmiddle' src='{{ asset('bundles/app/images/ico/18/validator.png')  }}' /></b>{%else%}{{ item.name }}{%endif%}</a></li>{% endfor %}{% else %}</ul>{{ def_auteurs }}{% endif %}</span>" >
                          {%if app_mode!='sm' %}
                          <font color=gray><font color="#0071B9"><b>(</b></font></font>Aix<font color=orange>&sext;</font>Marseille <font color=#0071B9>Universit&eacute;</font>
                          {%endif%}
                          &nbsp;<img align="absmiddle" border=0 src="{{ asset('bundles/app/images/ico/18/users.png') }}" ></img></a></td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div> 
        </div> 

        <br>
        {% if isDev==true %}
          <br>
        {%endif%}
      </div> 
    </div> 
  </center>
</body>
<script type="text/javascript">
var token="";

function majPage(name,slogan,nameFlag,sloganFlag){
  //flashMessager
  //nbCurShowedFlash (hid)
  /* FIRST RAZ to defaults values... */
  $('#page_name').html("{{app_name|raw}}");
  $('#app_name_flag').html("");
  $('#page_slogan').html("{{app_slogan|raw}}");
  $('#app_slogan_flag').html(""); //(old site-slogan)

  // $('#page_menus').load("{ path("_menus") }}");
  /* SEGOND Set added forced Values from passed 'name,slogan,nameFlag, sloganFlag' */
  if(name!=null) if(name!="") $('#page_name').html(name);
  if(slogan!=null) if(slogan!="") $('#page_slogan').html(slogan);
  if(nameFlag!=null) if(nameFlag!="") $('#app_name_flag').append(nameFlag);
  if(sloganFlag!=null) if(sloganFlag!="") $('#page_slogan').append(sloganFlag);
//  if(sloganFlag!=null) if(sloganFlag!="") $('#page_slogan').html($('#page_slogan').html()+sloganFlag);

  //myContent
  //$('#page_footer').load("");

}

/**
 * Chargement ajax d'une Page dans le contexte ASF/AMU
 * @param string url l'addresse de la page
 * @param object data les données à poster
 * @param bool name description
 */
function loadPage(url,data,first){
  $(document).trigger('hideCluetip');
  $(".FixedHeader_Cloned").remove();
  if(first===null) first=false;
  if(url!==null){
      if(url!==""){
        $("#myContent").css("min-height","600px");
        var prevPage=$("#_curViewPage").val();
        $("#_curViewPage").val(url);
        {%if showUrl==true%} 
        $("#_curRoute").html("{{ app.session.get("_ajx_page_route") }}");
        {%endif%}
        $("#myContent").html("{{app_loading_message|raw}}");
        $("#_loadpage_progressbar").progressbar({ value: 0});
        {# NE PAS SUPPRIMER... INFOS DEVELOPPEUR
        /* Solution 1 (active): test sur ($.isPlainObject(data))
         * Solution 2: Forcer la conversion de data en FormData() 
         * (non retenue car+lente) suppose => " contentType: false, processData: false "
          if(data){
            if($.isPlainObject(data)){
              var fd= new FormData();
              for(var n in data ){ fd.append(n,data[n]); }
              data=fd;
            }
          }
        */
        #}
        {# Solution 3        /*
          if(data){
            if($.isPlainObject(data) || (data instanceof Object)){
              
             var mdata=data.toSource().
           replace(/name\:/g,' "name": ').
           replace(/value\:/g,' "value": ').
           replace(/type\:/g,' "type": ').
           replace(/\\x/g,"\\u00"); // => UTF8 unicode
           //replace('[{','{ {').
           //replace('}]','} }'); 
             var fd= new FormData();
             for(var n in data ){ fd.append(data[n].name,data[n].value); }
              data=fd;             
            }
          }
          */ #}
         
          $.ajax(url,{
            type: "POST",
            cache: false, 
            processData: ((($.isPlainObject(data) || (data instanceof Object) ) && !(data instanceof FormData))),
            contentType: ((data instanceof FormData)?false:"application/x-www-form-urlencoded"),
            data: data,{# 
            //async : false,
            //forceSync: true,#}
            beforeSend: function(xhr,options){ 
              {# xhr.setRequestHeader("Accept","text/event-stream");  #}
              $("#_loadpage_progressbar").progressbar({ value: false}); 
            },
            progress: function(event){ {# /* alert("progress"+event.toSource()); */#} }, 
            xhr: function(){
              {# /* Dépand du server/response Header(Content-Length & Content-Size) */ #}
              function uploadProgress(event){ {#//if (event==="undefined") event = window.event; #}
                var percent = false;
                if(event){
                  var position = event.loaded || event.position;{# /*event.position is deprecated*/#}
                  var total = event.total;
                  if(event.lengthComputable){
                    percent = Math.ceil(position / total * 100);
                  }
                }
                $("#_loadpage_progressbar").progressbar({ value: percent }); 
              }
              
              var xhr = $.ajaxSettings.xhr(); {# //var xhr = new XMLHttpRequest(); #}
              //xhr.open("POST",url,true);
              xhr.onprogress=function(evt){ uploadProgress(evt); }; 
              xhr.addEventListener('progress',uploadProgress, false);
              xhr.upload.addEventListener('progress',uploadProgress, false);
              {#
              //xhr.upload.addEventListener('progress',function(evt) { uploadProgress(evt); });
              //xhr.addEventListener('progress',function(evt) { uploadProgress(evt); });
              //xhr.upload.onprogress=uploadProgress;
              //xhr.onprogress=uploadProgress;
              //xhr.onreadystatechange=function( ){ alert("readyState "+xhr.readyState+"\n"+xhr );}
              #}
              //xhr.send();
              return xhr;             
            },
            success: function (data, status, xhr) {
              $("#_loadpage_progressbar").progressbar({ value: 100 });
              if (status === "error"){
                $("#myContent").show();
                var ar=data.split(/..h1./);
                var raison=ar[1];
                var msg=xhr.statusText;
                var intercept=false;
                switch(xhr.status){
                  {# /* cf http://fr.wikipedia.org/wiki/Liste_des_codes_HTTP */ #}
                  case 401: intercept=true; msg="Une authentification est n&eacute;cessaire pour acc&eacute;der &agrave; la ressource"; break;
                  case 403: intercept=true; msg="Vos droits d&apos;acc&eacutes sont insuffisants !!!"; break;{#
                  /* Rustine prob Auth x sauvé en session
                  case 500: // CAS EXCEPTIONEL... 
                    if((prevPage=="") || (prevPage===null)){ // try call 2nd resolv bug first init...
                      $("#myContent").load(url,function(){ amu.initJQueryControls(); });
                       return;
                      }
                      break;
                   */
                  //case 500: msg="L&apos;authentication semble avoir &eacute;t&eacute; perdue...</br><center><b>Veuillez s&apos;il vous pla&icirc;t vous reconnecter...</b></center>";
                  //  $("#tool_deconnexion").hide();$("#tool_connexion").show();  break;
                  //case 402: msg=""; break;
                  #}
                }

                if(intercept){
                  $("#myContent").html("{{ app_no_access_message|raw}}".replace('#err_code#',xhr.status).replace('#err_msg#',msg).replace('#err_explain#',raison));
                {% if isDev==true %}
                  $("#myContent").append("<hr><h1>Pour le D&eacute;veloppeur...</h1><br><b>Extraction (erreur principale) :</b><br><center><span class='ui-state-highlight ui-corner-all' style='padding:10px;'>"+raison+"</span></center>");
                  $("#myContent").append("<hr><h1>ERRORS BRUTES :</h1><br>"+data);
                {%endif%}  
                }
                else{
                  $("#myContent").html(data);
                {%if (app.session.get('app.size')=='sm') %}                   
                  $("#myContent *,a,p,.TabInfos,.aMessage,td").css("font-size","xx-small");
                {%endif%}
                }
                amu.initJQueryControls();
                {#%if app_effects==true %}
                  //$("#myContent").fadeToggle(2000);
                {%else%}
                  //$("#myContent").show();
                {%endif%#}
              }
              else {
                $("#myContent").html(data);
                amu.initJQueryControls();
                if(first){
                  $("#myContent").show();
                }
                else{
                {#%if app_effects==true %}
                  //$("#myContent").fadeToggle(2000);
                {%else%}
                  //$("#myContent").show();
                {%endif%#}
                }  
              }
              {%if app_env=="dev" %}
              if(xhr.getResponseHeader('X-Debug-Token')){
                $("#brTokenRefresh").one('click',function(){ $(".sf-toolbar").load("{{path("_wdt",{"token":"token"})}}".replace("token",xhr.getResponseHeader("X-Debug-Token")),function(){$("#brTokenRefresh").remove();}) });
              }else{
                $("#brTokenRefresh").hide();
              }
              {%endif%}
        }
      })
      .fail(function(jqXHR, textStatus, errorThrown ) { $("#myContent").html('<div style="padding:150px;"><center><div class="ui-state-error ui-corner-all" style="width:400px;padding:15px;border:2px solid red;"><center><img align="absmiddle" src="{{ asset('bundles/app/images/ico/32/close-1.png') }}" /> <b>Désolé mais une erreur est survenue...</b><br>'+textStatus+" code "+jqXHR.status+" : '"+jqXHR.statusText+"' <br><br>"+((jqXHR.status==0)?"Il semblerait que votre session est arrivée à expiration...":"")+errorThrown+'<br><br><br><a href="{{app.request.uri}}" ><span class="ui-widget-header shadowed5 ui-corner-all ui-button" style="padding:5px;"  >cliquez ici pour revenir à la page d\'accueil...</a></span></center></div><center></div>'{{ isDev?"+jqXHR.responseText":""}}); });
    }
  }
}

function amuSlideBars(){ if(typeof mySlidebars === 'undefined'){ mySlidebars = new $.slidebars({siteClose: true,disableOver: false,hideControlClasses: false}); } return(mySlidebars.slidebars); }
 
function majFlash(){
  if($("#flashMessager").html()!=""){ amuSlideBars().open('left'); $("#btShowLeftPanel").show();}else{ $("#btShowLeftPanel").hide(); }
  if($("#helps").html()!=""){ amuSlideBars().open('right'); $("#btShowRightPanel").show(); }else{ $("#btShowRightPanel").hide(); }
  setTimeout(closeAllFlashs,500); 
}

function closeAllFlashs(){ amuSlideBars().close(); }

{%if (app.session.get("_ajx_page_route")=="homepage") %}
  $("#myContent").show();
{%endif%}

$(function() {
  {%if app_use_cdn==true  %}
    {%set clipboardSWF=adapter~"://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.1.5/ZeroClipboard.swf" %}
  {%else%}
    {%set clipboardSWF=adapter~"://"~app.request.host~asset('bundles/app/js/zero/ZeroClipboard.swf') %}
  {%endif%}
  $.ajaxSetup({type:"post",crossDomain:true});{# oblige l'envoi des variables en POST et autorise le cross-domaine #}
  amu.setClipboardSWF("{{clipboardSWF}}");
  amu.setResPicAdd("{{ asset('bundles/app/images/ico/16/add-green.png') }}");
  amu.setResPicRemove("{{ asset('bundles/app/images/ico/16/delete.png') }}");
  amu.setResPicWait("{{ asset('bundles/app/images/amu/loading20.gif') }}");
  amu.setResPicClose("{{ asset('bundles/app/images/ico/16/del.png') }}");
  amu.setResPicError("{{ asset('bundles/app/images/ico/18/warning.gif') }}");
  //amu.initJQueryControls();
  $(window).bind("load", function() {
    amu.initJQueryControls();
  }); 
  
{%if isDev!=true %}{# désactivation du menu contextuel si pas développeur... #}
    $(document).bind("contextmenu",function(e){return false;});
{%endif%}
 
{%if isAuthentified==true or (app_forceAuthentification==false) %}

{%if app_messages %}
  amuSlideBars();
  {% if (app.session.get("_ajx_page_route","")!="homepage") %}
  $("#flashMessager").load("{{ path("_app_flashs") }}",{'side':'left','only': ["app","campagnes","maintenances","alert","error","developpers"] }, function(){ majFlash(); });
  $("#helps").load("{{ path("_app_flashs") }}",{'side':'right','only': ["help","info","comments","avert"] },function(){ majFlash(); });
  {%endif%}
  $("#btShowLeftPanel").mouseenter(function(){ amuSlideBars().open('left'); });
  $("#btShowRightPanel").mouseenter(function(){ amuSlideBars().open('right'); });
  $("#flashMessager").mouseleave(function(){ amuSlideBars().close(); });
  $("#helps").mouseleave(function(){ amuSlideBars().close(); });
  {% if (isDev==true) and (navibar==true) %}
  $("#navigatorBar").load("{{ path("app_navigator") }}");
  $("#btNavigatorBar").click(function(){ amuSlideBars().open('left'); });
  {%endif%}
{%endif%}      
{%endif%}
      
$(".sf-toolbar").css("position","absolute"); //.css("top",1000);
{# DELETED pour OPTIMISATION 
  $("#app_contacts").load("{{ path("_app_contacts") }}",function(){ amu.initJQueryControls();  });
  
 #}       
{% if ((isAuthentified==true) and (app_offline==false)) or ((app_forceAuthentification==false) and (app_offline==false)) %}
  $("#app_menus").load("{{ path("_app_menus") }}",function(){ amu.initJQueryControls(); });  
{%endif%}
  
{% if (app.session.get("_ajx_page_route","")!="externalaccounts_login") and (app.session.get("_ajx_page_route","")!="externalaccounts_login_check")  %}
  {%if (app.session.get("_ajx_loadpage","")!="") and (app.session.get("_ajx_loadpage","")!=app.session.get("_ajx_page_route","")) %}
    loadPage('{{ path(app.session.get("_ajx_loadpage")) }}',{{ app.session.get("_ajx_params")|default("{}")|raw }},true);    
    {{ app.session.set("_ajx_loadpage", "") }}
  {%else%}
    loadPage('{{ path('accueil') }}',{},true);
  {%endif%}
{%else%}
  $('#myContent').show();
{%endif%}

{%if app_notifications|default(false)=="jgrowl" %}
  try{  
    $.jGrowl.defaults.closerTemplate = '<div class="ui-widget-header shadowed5"><img src="{{ asset('bundles/app/images/ico/16/windows-cascade.png') }}" align="absmiddle" />&nbsp;Fermer toutes les notifications</div>';
    $.jGrowl.defaults.closeTemplate = "<img src='{{ asset('bundles/app/images/ico/16/delete.png') }}' />";
    $.jGrowl("<img src='{{ asset("bundles/app/images/ico/32/comments-gray.png") }}' align='absmiddle'/> Les messages de notifications de l'application {{app_name}} seront affichés ici...",{ themeState:"default shadowed5", header: '<center class="block block-views">Notifications</center>', life:10000 });  
  }catch(e){ }
{%endif%}
    
{%if (app_mode=='sm') %} 
 $(".ui-loader").hide();
{%endif%}

});
</script>
</html>